.disease-detail-page {
    width: 100%;
    height: 100%;
    .info-box {
        width: 100%;
        height: 100%;
        display: -webkit-box;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        flex-direction: row;
    }
    .left-box {
        width: px2rem(100px);
        height: 100%;
    }
    .right-box {
        -webkit-box-flex: 1;
        -webkit-flex: 1;
        flex: 1;
        height: 100%;
        padding: px2rem(10px);
    }
    .nav-item {
        width: 100%;
        height: px2rem(40px);
        border-radius: 0 px2rem(4px) px2rem(4px) 0;
        border-width: 1px 1px 1px 0;
        border-style: solid;
        border-color: $color-border-default;
        line-height: px2rem(40px);
        text-align: center;
        margin-top: px2rem(10px);
        background: #fff;
        color: #333;
        &.active {
            background: $brand-danger;
            color: #fff;
        }
    }
    .content {
        width: 100%;
        height: 100%;
    }

    .doctor-item {
        width: 100%;
        padding: px2rem(26px) px2rem(10px) px2rem(10px) px2rem(26px);
        margin-bottom: px2rem(10px);
        background: #fff;
        position: relative;
        overflow: hidden;
        border: 1px solid $brand-danger;
        border-radius: px2rem(4px);
        .tag{
            width: px2rem(84px);
            height: px2rem(50px);
            background: $brand-danger;
            position: absolute;
            transform: rotate(-45deg);
            left: px2rem(-36px);
            top: px2rem(-16px);
            color: #fff;
            text-align: center;
            font-size:px2rem(map_get($map-font-size, s));
            line-height: px2rem(76px);
        }
    }
    .doctor-info {
        width: 100%;
        height: px2rem(60px);
        .info {

        }
        span {
            font-size: px2rem(map_get($map-font-size, s));
            color: #666;
            margin-right: px2rem(10px);
            &.name {
                color: #222;
                font-size: px2rem(map_get($map-font-size, m));
                font-weight:bold;
            }
        }
        p {
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
        }
    }
    .desc {
        width: 100%;
        font-size: px2rem(map_get($map-font-size, s));
        line-height: px2rem(map_get($map-font-size, s)) * 2;
        color: #999;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }

}