<div class="find-page" ng-controller="FindCtrl">
    <!-- <iframe ng-show="tabSelected==0" class="iframe" src="http://wap.dev.mingyizd.com/mobile/event/index/page/0/header/0.html" style="width: 100%;height:100%;border: 0px;"></iframe>
    <iframe ng-show="tabSelected==1" class="iframe" src="http://wap.dev.mingyizd.com/mobile/event/index/page/1/header/0.html" style="width: 100%;height:100%;border: 0px;"></iframe> -->
    <ul class="topics-list" ng-show="tabSelected==0">
    	<li ng-repeat="li in topicsList" ng-click="goDetailUrl(li.src)"><img src="{{li.imgUrl}}"></li>
    </ul>
    <ul class="stories-list" ng-show="tabSelected==1">
    	<li ng-repeat="li in storiesList" ng-click="goDetailUrl(li.src)">
    		<img src="{{li.imgUrl}}">
    		<div>
    			<p ng-bind="li.title"></p>
    		</div>
    	</li>
    </ul>
</div>