<div ng-controller="LoginCtrl" class="login-page">
    <div class="tab-box">
        <div class="tab-header">
            <div class="tab-item" ng-class="{'active': selectedTab == 0}" ng-click="checkTab(0)">密码登录</div>
            <div class="tab-item" ng-class="{'active': selectedTab == 1}" ng-click="checkTab(1)">验证码登录</div>
        </div>
        <div class="tab-content">
            <div class="item-content" ng-show="selectedTab == 0">
                <form name="passwordLoginForm">
                    <div class="cell-group">
                        <div class="cell">
                            <div class="left-box">
                                <span class="label-icon phone"></span>
                            </div>
                            <div class="middle-box">
                                <input type="tel" placeholder="请输入11位手机号" maxlength="11" minlength="11" name="passwordLogin_phone" ng-model="passwordLogin_phone" required>
                            </div>
                        </div>
                        <div class="cell">
                            <div class="left-box">
                                <span class="label-icon password"></span>
                            </div>
                            <div class="middle-box">
                                <input type="password" placeholder="请输入密码" minlength="4" name="passwordLogin_password" ng-model="passwordLogin_password" required>
                            </div>
                        </div>
                    </div>
                    <div class="btn-dock">
                        <button class="btn btn-primary" ng-disabled="passwordLoginForm.$invalid" ng-click="doPasswordLogin()">立即登录</button>
                    </div>
                </form>
            </div>
            <div class="item-content" ng-show="selectedTab == 1">
                <form name="codeLoginForm">
                    <div class="cell-group">
                        <div class="cell">
                            <div class="left-box">
                                <span class="label-icon phone"></span>
                            </div>
                            <div class="middle-box">
                                <input type="tel" placeholder="请输入11位手机号" maxlength="11" minlength="11" name="codeLogin_phone" ng-model="codeLogin_phone" required>
                            </div>
                        </div>
                        <div class="cell">
                            <div class="left-box image-code">
                                <span class="label-icon"></span>
                            </div>
                            <div class="middle-box">
                                <input type="tel" placeholder="请输入图片验证码" name="codeLogin_captcha" ng-model="codeLogin_captcha" required>
                            </div>
                            <div class="right-box">
                                <img src="{{captchaUrl}}" ng-click="refreshCaptcha()" alt="验证码图片">
                            </div>
                        </div>
                        <div class="cell">
                            <div class="left-box">
                                <span class="label-icon safe-code"></span>
                            </div>
                            <div class="middle-box">
                                <input type="tel" placeholder="请输入短信验证码" maxlength="6" minlength="6" name="codeLogin_verifyCode" ng-model="codeLogin_verifyCode" required>
                            </div>
                            <div class="right-box">
                                <button class="btn btn-xsmall btn-primary in-cell" ng-disabled="codeLoginForm.codeLogin_phone.$invalid || codeLoginForm.codeLogin_captcha.$invalid || lockEnabled" ng-click="sendSMSCode()" ng-bind="sendSMSText"></button>
                            </div>
                        </div>
                    </div>
                    <div class="btn-dock">
                        <button class="btn btn-primary" ng-disabled="codeLoginForm.$invalid" ng-click="doCodeLogin()">立即登录</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>