.sidebar{
    position: absolute;
    top:0;
    width: 100%;
    height: 100%;
    z-index: -1;
    .sidebar-shadow{
        position: absolute;
        width: 100%;
        height: 100%;
        background: rgba(0,0,0,.4);
        -webkit-transition: background 0.2s;
        -moz-transition: background 0.2s;
        -ms-transition: background 0.2s;
        -o-transition: background 0.2s;
        transition: background 0.2s;
        &.close-container{
            background: rgba(0,0,0,0);
        }
        &.open-container{
            background: rgba(0,0,0,.4);
        }
    }
    .sidebar-container{
        width: 100%;
        height: 100%;
        -webkit-transition: transform 0.2s;
        -moz-transition: transform 0.2s;
        -ms-transition: transform 0.2s;
        -o-transition: transform 0.2s;
        transition: transform 0.2s;
        &.close-container{
            -webkit-transform: translate(-100%, 0);
            -moz-transform: translate(-100%, 0);
            -ms-transform: translate(-100%, 0);
            -o-transform: translate(-100%, 0);
            transform: translate(-100%, 0);
        }
        &.open-container{
            -webkit-transform: translate(0, 0);
            -moz-transform: translate(0, 0);
            -ms-transform: translate(0, 0);
            -o-transform: translate(0, 0);
            transform: translate(0, 0);
        }
    }
    .content{
        background: #fff;
        width: 65%;
        height: 100%;
        float: left;
    }
    .white{
        width: 35%;
        height: 100%;
        float:left;
    }

    .user-info{
        width: 100%;
        height: px2rem(100px);
        border-bottom: 1px solid $color-border-default;
        float: left;
        .left{
            width: 40%;
            height: 100%;
            float: left;
            padding-right: px2rem(10px);
            .circle{
                width: px2rem(60px);
                height: px2rem(60px);
                border-radius: px2rem(30px);
                border: 1px solid $color-border-default;
                overflow: hidden;
                margin-top: px2rem(20px);
                float:right;
            }
            img{
                width: 100%;
                height: 100%;
            }
        }
        .right{
            float: left;
            width: 60%;
            color: #222;
            font-size: px2rem(map_get($map-font-size, m));
            line-height: px2rem(100px);
        }
    }
    .list{
        padding-left: px2rem(20px);
        border-bottom: none;
        .cell{
            border-bottom: 1px solid #efefef;
            height: px2rem(60px);
            line-height: px2rem(60px);
            .left-box{
                padding-left: px2rem(10px);
                padding-right: px2rem(10px);
                .iconfont{
                    font-size: px2rem(18px);
                    color: #666;
                }
                .icon-phone{
                    font-size: px2rem(16px);
                }
            }
        }
    }
}