.footer{
    width: 100%;
    height: 100%;
    background: #fff;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    border-top: 1px solid $color-border-default;
    padding-top: px2rem(2px);
    .item{
        -webkit-box-flex: 1;
        -webkit-flex: 1;
        flex: 1;
        height: 100%;
        text-align: center;
        .icon{
            width: 22px;
            height: 22px;
            margin: 0 auto;
            overflow: hidden;
            display: block;
        }
        .icon-home{
            background: url("http://static.mingyizhudao.com/146278206712060") no-repeat;
            background-size: 94px 44px;
            background-position: -2px -22px;
            &.active{
                background-position: -2px 0;
            }

        }
        .icon-hospital{
            background: url("http://static.mingyizhudao.com/146278206712060") no-repeat;
            background-size: 94px 44px;
            background-position: -24px -22px;
            &.active{
                background-position: -24px 0;
            }
        }
        .icon-find{
            background: url("http://static.mingyizhudao.com/146278206712060") no-repeat;
            background-size: 94px 44px;
            background-position: -47px -22px;
            &.active{
                background-position: -47px 0;
            }

        }
        .icon-me{
            background: url("http://static.mingyizhudao.com/146278206712060") no-repeat;
            background-size: 94px 44px;
            background-position: -70px -22px;
            &.active{
                background-position: -70px 0;
            }
        }
        .text{
            color: #999;
            font-size: px2rem(map_get($map-font-size, s));
            &.active{
                color: $color-primary;
            }
        }
    }
}