.booking-department-page,.booking-doctor-page, .quick-booking-page{
    // padding-bottom: px2rem(100px);
    .agreement{
        font-size: px2rem(map_get($map-font-size, s));
        color: #666;
        padding: px2rem(10px);
        span{
            color: $color-primary;
        }
    }
    .btn-dock{
        background: #fff;
    }
}
.quick-booking-page{
    .bq-tips{
        padding: 0 px2rem(10px);
        color: #f00;
    }
}
.operation-train-page{
    background: #9fd84b;
    .qb-bg1{
        width: 100%;
        height: px2rem(150px);
        background: url('http://static.mingyizhudao.com/146278046324616') no-repeat;
        background-size: cover;
    }
    .qb-bg2{
        width: 100%;
        min-height: px2rem(300px);
        background: url('http://static.mingyizhudao.com/146243598978929') no-repeat;
        background-size: contain;
        padding-top: px2rem(10px);
        .qb-disc{
            list-style: none;
            padding: px2rem(10px) px2rem(10px) 0 px2rem(30px);
            li{
                padding-bottom: px2rem(10px);
                list-style-type: decimal;
            }
        }
    }
    .qb-bg3{
        $qb-h: 50px;
        width: 100%;
        min-height: px2rem($qb-h);
        background: url('http://static.mingyizhudao.com/146243616165849') no-repeat;
        background-size: cover;
        color: #fff;
        text-align: center;
        line-height: px2rem($qb-h);
        position: absolute;
        bottom: 0;
    }
}

.booking-doctor-page{
    padding: px2rem(10px);
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    input[type='text']{
        line-height: initial;
    }
    #doctorScroll{
        height: 100%;
    }
    .wrap{
        position: relative;
        width: 100%;
        height: 100%;
        overflow: hidden;
        .scroll{
            position: absolute;
            width: 100%;
        }
    }
    .mobile-input{
        height: px2rem(60px);
        position: relative;
    }
    .mobile-tip{
        position: absolute;
        bottom: px2rem(6px);
        left: 0;
        font-size:px2rem(map_get($map-font-size, xs));
        color: #999;
        line-height: px2rem(map_get($map-font-size, xs));
    }
    .middle-box{
        &.sim{
            padding: 0 px2rem(10px) 0 px2rem(10px) !important;
            input{
                float:left;
            }
        }

    }
    .booking-content{
        height: 100%;
    }
    .getCode{
        color: $color-light;
        padding: 0 px2rem(5px) 0 px2rem(10px);
        border-left: 1px solid $color-border-default;
        height: 100%;
        display: block;
    }
    .booking-tips{
        font-size: px2rem(map_get($map-font-size, m));
        color: #222;
    }
    .service-flow-box-out{
        position: absolute;
        width: 100%;
        height: 100%;
        background: rgba(0,0,0,0.4);
        top: 0px;
        left: 0px;
        padding: px2rem(100px) px2rem(60px) 0 px2rem(60px);
        z-index: 10;
    }
    .service-flow-box-in{
        background: #fff;
        border-radius: px2rem(5px);
        padding: px2rem(15px) 0 px2rem(15px) px2rem(15px);
        i{
            $li-num-wh: 20px;
            width: px2rem($li-num-wh);
            height: px2rem($li-num-wh);
            border-radius: px2rem($li-num-wh/2);
            display: inline-block;
            background: $color-primary;
            color: #fff;
            text-align: center;
            font-style: initial;
            line-height: px2rem($li-num-wh);
            margin-right: px2rem(10px);
        }
        li{
            padding: px2rem(10px) 0;
            color: #666;
            list-style-type: none;
        }
        .close-btn{
            $close-btn-wh: 20px;
            width: px2rem($close-btn-wh);
            height: px2rem($close-btn-wh);
            border-radius: px2rem($close-btn-wh/2);
            display: inline-block;
            background: #eee;
            text-align: center;
            float: right;
            margin-top: px2rem(-45px);
            line-height: px2rem($close-btn-wh);

        }
    }
    .main-info{
        padding: px2rem(15px);
        >img{
            $doc-wh: 60px;
            width: px2rem($doc-wh);
            height: px2rem($doc-wh);
            border-radius: px2rem($doc-wh/2);
            float: left;
            margin-top: px2rem(5px);
        }
        >div{
            text-align: left;
            float: left;
            padding-left: px2rem(15px);
            color: #666;
        }
        p{
            line-height: px2rem(25px);
            font-size: px2rem(map_get($map-font-size, s));
            .dt-name{
                font-size: px2rem(map_get($map-font-size, m));
                color: #000;
            }
        }
        .dt-minor{
            font-size:px2rem(map_get($map-font-size, s));
            color: #666;
        }
        &:after{
            content: '';
            display: block;
            clear: both;
        }
    }
}
.booking-success-page{
    padding: px2rem(20px) px2rem(20px);
    >button{
        margin-bottom: px2rem(10px);
    }
    .booking-sucess-tips{
        text-align: center;
        h2{
            color: $color-light;
        }
        h3,p,i{
            margin-bottom: px2rem(10px);
        }
        p{
            color: #666;
            padding-top: px2rem(10px);
            font-size: px2rem(map_get($map-font-size, xs));
        }
        i{
            font-size: px2rem(50px);
            color: $color-light;
        }
    }
    .booking-flow{
        $b-i-wh: 12px;
        margin-bottom: px2rem(80px);
        list-style: none;
        li{
            display: block;
            font-size: px2rem(map_get($map-font-size, xs));
            &.f{
                color: #666;
                i{
                    border: px2rem(3px) solid $color-primary;
                    background: #fff;
                    border-radius: px2rem($b-i-wh/2);
                }
            }
            &.c{
                color: $color-primary;
                i{
                    border: px2rem(2px) solid $color-primary;
                    background: $color-primary;
                    border-radius: px2rem($b-i-wh/2);
                }
            }
        }
        li:nth-child(odd){
            height: px2rem($b-i-wh);
            i{
                display: inline-block;
                width: px2rem($b-i-wh);
                height: px2rem($b-i-wh);
                margin-right: px2rem(10px);
                // &.f{
                // }
                // &.c{
                // }
            }
        }
        li:nth-child(even){
            $b-li-h:30px;
            height: px2rem($b-li-h);
            i{
                display: inline-block;
                width: px2rem(2px);
                height: px2rem($b-li-h);
                background: $color-primary;
                margin-left: px2rem(($b-i-wh/2)-1px);
            }
        }
    }
}