.search-page{
	height: 100%;
	display: flex;
	flex-direction: column;
	$search-header-height: 40px;
	$hp-btn-color: #F48124;
	$doc-btn-color: #0168B7;
	#listScroll{
		ul li{
			margin-bottom: px2rem(10px);
		}
	}
	.search-tips{
		padding-top: px2rem(10px);
		text-align: center;
		color: #ccc;
	}
	.recommend{
		height: 100%;
		background: #fff;
		padding: px2rem(5px) px2rem(10px);
		p{
			font-size: px2rem(map_get($map-font-size, xs));
			color: #333;
			margin: px2rem(10px) 0;
		}
		ul{
			list-style: none;
			&:after{
				display: block;
				clear: both;
				content: '';
			}
		}
		li{
			float: left;
			padding: px2rem(5px) px2rem(20px);
			border: 1px solid #bbb;
			border-radius: px2rem(10px);
			font-size: px2rem(map_get($map-font-size, s));
			margin: 0 px2rem(10px) px2rem(5px) 0;
		}
	}
	.search-header{
		height: px2rem($search-header-height);
		display: flex;
		&:after{
			content: '';
			display: block;
			clear: both;
		}
		background: $color-primary;
		// border-bottom: 1px solid #c2c0c0;
		&.search-more{
			.centerOpt{
				width: 70%;
				padding: px2rem(5px) 0;
			}
		}
		>div{
			height: 100%;
			float:left;
		}
		.centerOpt{
			width: 80%;
			padding: px2rem(5px) 0 px2rem(5px) px2rem(5px);
			.clear-input-btn{
			    position: relative;
			    float: right;
			    z-index: 1;
			    transform: translate(-5px,-24px);
			    background: rgba(72, 72, 72, 0.5);
			    width: px2rem(15px);
			    height: px2rem(15px);
			}
		}
		.leftOpt{
			flex:1;
		}
		.rightOpt{
			flex:1;
			text-align: center;
			color: #fff;
			line-height: $search-header-height;
			font-size: px2rem(map_get($map-font-size, s));
		}
		input{
			background: #fff url("http://static.mingyizhudao.com/146243645256928") no-repeat px2rem(10px) 50%;
    		background-size: 1.25rem;
    		border: 0px;
			border-radius: px2rem(5px);
			width: 100%;
			height: 100%;
			padding: 0 px2rem(25px) 0 px2rem(30px);
			font-size: px2rem(map_get($map-font-size, s));
		}
	}
	.search-result{
		flex: 1;
		overflow: hidden;
		li{
			// margin: 0 0 px2rem(15px) 0;
		}
		i{
			font-style: normal;
		}
	}
	.search-title{
		padding: px2rem(10px) 0;
		background: #fff;
		>p{
			border-left: 4px solid #f38023;
			padding: 0 px2rem(10px);
			font-size: px2rem(map_get($map-font-size, s));
			font-weight: bold;
		}
	}
	.search-more-num{
		text-align: center;
		font-size: px2rem(map_get($map-font-size, xs));
		color: #999;
		padding-bottom: px2rem(10px);
		span{
			font-size: inherit;
			color: inherit;
		}
	}
	.cell-group{
		margin: 0px;
		.cell{
			.search-cell-fc,.search-cell-lc{
				width: 50%;
			}
			.search-cell-lc{
				text-align: right;
			}
		}
	}
	.search-move{
		font-size: px2rem(map_get($map-font-size, m));
		text-align: center;
		background: #fff;
		padding: px2rem(10px) px2rem(15px);
		border-width: 0 0 px2rem(1px) 0;
	    border-style: solid;
	    border-color: $color-border-default;
	    font-size: px2rem(map_get($map-font-size, s));
		color: #bbb;
		>span{
		    position: absolute;
			color: #bbb;
		    right: px2rem(20px);
	    	font-size: px2rem(map_get($map-font-size, s));
		}
		i{
			color: #bbb;
			padding: 0 px2rem(5px);
		}
	}
	.btn-hp,.btn-doc{
		width: 40%;
		display: inline-block;
		margin-right: 5%;
	}
	.btn-doc{
	    color: #fff;
	    background: $hp-btn-color;
	    border: 1px solid #dddddd;
	}
	.btn-hp{
	    color: #fff;
	    background: $doc-btn-color;
	    border: 1px solid #dddddd;
	}
	.leftOpt .icon-back {
	    width: 1.16667rem;
	    height: 1.16667rem;
	    border-top: 2px solid #757575;
	    border-left: 2px solid #757575;
	    transform: rotate(-45deg);
	    position: relative;
	    left: 50%;
	    top: 50%;
	    margin-left: -.41667rem;
	    margin-top: -.66667rem;
	    display: block;
	}
}