.header {
    background: $color-primary;
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    .left-operate {
        height: 100%;
        width: px2rem(90px);
    }
    .right-operate {
        height: 100%;
        width: px2rem(90px);
    }
    .title {
        -webkit-box-flex: 1;
        -webkit-flex: 1;
        flex: 1;
        padding: 0 px2rem(10px) 0 px2rem(10px);
        height: 100%;
        text-align: center;
        line-height: px2rem($header-height);
        color: $header-color;
        font-size: px2rem(map_get($map-font-size, m));
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }
    .btn-back {
        width: px2rem(40px);
        height: 100%;
        overflow: hidden;
        .icon-back {
            width: px2rem(14px);
            height: px2rem(14px);
            border-top: 2px solid $header-color;
            border-left: 2px solid $header-color;
            transform: rotate(-45deg);
            position: relative;
            left: 50%;
            top: 50%;
            margin-left: px2rem(-5px);
            margin-top: px2rem(-8px);
        }
    }
    .btn-refresh{
        width: px2rem(40px);
        height:100%;
        overflow: hidden;
        background: url("http://static.mingyizhudao.com/146975853464574") center center no-repeat;
        -webkit-background-size:60%;
        background-size: 60%;
        float: right;
    }
    .other-right-operate,
    .select-area{
        height: 100%;
        line-height:px2rem($header-height);
        color: $header-color;
        font-size: px2rem(map_get($map-font-size, s));
        text-align: right;
        padding-right: px2rem(10px);
    }
    .current-area{
        height: 100%;
        position: relative;
        .current-area-text{
            display: block;
            float: right;
            padding-right: px2rem(20px);
        }
        .select-icon{
            &:before{
                border-width: px2rem(8px);
            }
            &.triangle-up{
                position: absolute;
                right: 0;
                top: px2rem(($header-height - 24px) / 2);
            }
            &.triangle-down{
                position: absolute;
                right: 0;
                top: px2rem(($header-height - 8px) / 2);
            }
        }
    }
    .all-area-box{
        position: fixed;
        top: px2rem($header-height);
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0,0,0,.6);
        .area-list{
            width: 100%;
            max-height: px2rem(200px);
            overflow-x: hidden;
            overflow-y: auto;
            background: #fff;
            .cell-group{
                padding-left: 0;
                .cell{
                    height: px2rem(34px);
                    line-height: px2rem(34px);
                }
                .content{
                    line-height:px2rem(34px);
                    font-size: px2rem(map_get($map-font-size, s));
                }
            }
            .active-icon{
                display: block;
                width: px2rem(5px);
                height: 100%;
                &.active{
                    background: #f00;
                }
            }
        }
    }
}