.disease-page{
    width: 100%;
    height: 100%;
    background: #fff;
    position: relative;
    .flex-box{
        width: 100%;
        height: 100%;
        display: -webkit-box;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        flex-direction: row;
        .left-box{
            width: px2rem(140px);
            border-right: 1px solid #ccc;
            position: relative;
        }
        .right-box{
            -webkit-box-flex: 1;
            -webkit-flex: 1;
            flex: 1;
            height: 100%;
        }
    }
    .wrap{
        position: absolute;
        width: 100%;
        height: 100%;
        overflow: hidden;
    }
    .scroll{
        width: 100%;
        height: auto;
        position: absolute;
        -webkit-transform: translateZ(0);
        -moz-transform: translateZ(0);
        -ms-transform: translateZ(0);
        -o-transform: translateZ(0);
        transform: translateZ(0);
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        -webkit-text-size-adjust: none;
        -moz-text-size-adjust: none;
        -ms-text-size-adjust: none;
        -o-text-size-adjust: none;
        text-size-adjust: none;
        ul{
            width: 100%;
            list-style: none;
            //padding-bottom: px2rem(45px);
            li{
                width: 100%;
                padding: 0 px2rem(5px) 0 px2rem(5px);
                border-bottom:1px solid #e6e6e6;
                line-height:px2rem(48px);
                font-size: px2rem(map_get($map-font-size, m));
                color: #222;
                &.active{
                    color: $brand-danger;
                }
                &.tag{
                    background: #efefef;
                    color: #999;
                    font-weight:bold;
                }
                &.title{
                    color: #999;
                }
            }
            &.text-center{
                li{
                    text-align: center;
                }
            }
        }
    }
    .letter-nav{
        position: absolute;
        right: 0;
        top: 0;
        width: px2rem(20px);
        height: 100%;
        padding-top:px2rem(60px);
        background: #fff;
        .nav{
            width: 100%;
            text-align: center;
            color: $brand-info;
            font-size: px2rem(map_get($map-font-size, s));
            padding: px2rem(4px) 0 px2rem(4px) 0;
        }
    }
}