.history-page{
	height: 100%;
	.history-time{
		background: #fff;
		padding: px2rem(10px);
		border-bottom: 1px solid #ddd;
        color: #bbb;
        font-size: px2rem(map_get($map-font-size, s));  
        span{
            color: #bbb;
            font-size: px2rem(map_get($map-font-size, s));
        }
	}
    .wrap{
        position: relative;
        width: 100%;
        height: 100%;
        overflow: hidden;
    }
    .scroll{
        width: 100%;
        height: auto;
        position: absolute;
        -webkit-transform: translateZ(0);
        -moz-transform: translateZ(0);
        -ms-transform: translateZ(0);
        -o-transform: translateZ(0);
        transform: translateZ(0);
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        -webkit-text-size-adjust: none;
        -moz-text-size-adjust: none;
        -ms-text-size-adjust: none;
        -o-text-size-adjust: none;
        text-size-adjust: none;
    }
	.dt-li{
        $doc-img-wh: 60px;
        $doc-description-mt: 10px;
        padding: 0 px2rem(10px) px2rem(10px) px2rem(10px);
        background: #fff;
        margin-buttom: px2rem(10px);
        border-bottom: 1px solid #ddd;
        .doc-desc span{
            font-size: px2rem(map_get($map-font-size, s));
        }
        .doc-goodat-span{
            color: #666;
        }
        .doc-description{
            &:after{
                content:'';
                display:block;
                clear: both;
            }
            >div,>img{
                float: left;
            }
            >img{
                width: px2rem($doc-img-wh);
                height: px2rem($doc-img-wh);
                border-radius: px2rem($doc-img-wh/2);
                margin-right: px2rem($doc-img-wh/2);
                margin-top: px2rem($doc-description-mt);
            }
            >div{
                margin: px2rem(10px) 0 0 0;
                span{
                    color:#666;
                    line-height:px2rem($doc-img-wh/3);
                    font-size: px2rem(map_get($map-font-size, s));
                }
                .dt-name{
                    margin-top: px2rem($doc-description-mt);
                    color:#033;
                    font-size: px2rem(map_get($map-font-size, m));
                }
            }
        }
    }
}