.mark-page{
	.mark-tips{
		padding: 0 0 px2rem(10px) 0;
		color: #444;
		font-size: px2rem(map_get($map-font-size, m));
	}
	.mark-detail-group{
		background: #fff;
		padding: px2rem(10px);
	}
	.mark-box{
		padding: px2rem(10px) 0;
		$a-wh: 16px;
		.mark li{
			margin: 0 0 px2rem(15px) 0;
    		line-height: px2rem(30px);
    		display: flex;
    		span{
				font-size: px2rem(map_get($map-font-size, xs));
    		}
    		.radio-inline{
    			margin: 0 0 0 px2rem(10px);
    		}
			a{
				flex: 1;
			    display: flex;
			    align-items: center;
			    justify-content: center;
			}
			.selected:before{
				content: '';
				width: px2rem($a-wh);
				height: px2rem($a-wh);
				border-radius: px2rem($a-wh/2);
				display: inline-block;
				background: $color-light;
				margin-right: px2rem(5px);
			}
			.select:before{
				content: '';
				width: px2rem($a-wh);
				height: px2rem($a-wh);
				border-radius: px2rem($a-wh/2);
				display: inline-block;
				background: #fff;
				border: 1px solid #ddd;
				margin-right: px2rem(5px);
			}
		}
		.marked{
			display: flex;
		}
		.marked li{
			$i-mark-wh:15px;
			flex: 1;
			list-style: none;
			text-align: center;
			i{
				color: $color-light;
				font-size: px2rem(30px);
				padding: px2rem(5px) 0;
				display: inline-block;
			}
		}
	}
	.mark-text{
		p{
			width: 100%;
			min-height: px2rem(100px);
			padding: px2rem(5px) px2rem(10px);
			border: 1px solid #ddd;
			line-height: px2rem(20px);
			color: #888;
			font-size: px2rem(map_get($map-font-size, s));
		}
		textarea{
			width: 100%;
			height: px2rem(100px);
			padding: px2rem(5px) px2rem(10px);
			border-color: #ddd;
			line-height: px2rem(20px);
			font-size: px2rem(map_get($map-font-size, s));
		}
	}
	.doc-description{
	    $doc-img-wh: 60px;
	    $doc-description-mt: 10px;
	    padding: px2rem(20px) 0;
		&:after{
			content:'';
			display:block;
			clear: both;
		}
		>div,>img{
			float: left;
		}
		>img{
			width: px2rem($doc-img-wh);
			height: px2rem($doc-img-wh);
			border-radius: px2rem($doc-img-wh/2);
			margin-right: px2rem($doc-img-wh/2);
		}
		>div{
			p{
				color:#666;
				line-height:px2rem($doc-img-wh/3);
			}
			span{
				font-size: px2rem(map_get($map-font-size, s));
			}
			.dt-name{
				margin-top: px2rem($doc-description-mt);
				color:#033;
				font-size: px2rem(map_get($map-font-size, m));
			}
		}
	}
}