.orders-page{

	>ul{
		li{
			padding: px2rem(10px) px2rem(10px) 0 px2rem(10px);
			>div{
				background: #fff;
				border-radius: px2rem(5px);
				padding: px2rem(10px);
				>p{
					color:#666;
					line-height: px2rem(25px);
				}
			}
 		}
	}
	.o-title{
		&:after{
			display:block;
			height:0px;
			content:'';
			clear: both;
		}
		border-bottom: 1px solid #ddd;
		line-height: px2rem(30px);
		padding: px2rem(5px) 0;
	}
	.o-label{

	}
	.o-aid{
		width: auto;
	    display: inline-block;
	    float: right;
	    border-color: #ffc591;
	    color: #fd5f19;

	    height: auto;
	    padding: px2rem(2px) px2rem(5px);
	    line-height: initial;
	    // font-size: px2rem(map_get($map-font-size, s));
	    margin-top: px2rem(5px);
	}
	.o-aid-cancel{
		width: auto;
	    display: inline-block;
	    float: right;
	    border-color: #51cbaf;
	    color: #06c1ae;
	}
	.o-label{
		color:#666;
	}
}

.order-detail-page{
	height: 100%;
	display: flex;
	flex-direction: column;
	.order-detail-tips{
		color: #999;
	}
	.order-detail-group{
        padding: px2rem(10px);
        flex: 1;
    	overflow: scroll;
	}
	.order-detail-highlight{
		color:#f07415;
	}
	.order-detail-link{
	}
	#uploadImgBox{
		margin-bottom: px2rem(10px);
	}
	.btn-dock{
		display: flex;
		background: #fff;
		align-items: center;
		padding: 0px;
		border-top: 1px solid #ddd;
		.order-account{
			width: 60%;
			text-align: center;
			font-size: px2rem(map_get($map-font-size, m));
		}
		.btn{
			flex: 1;
			height: px2rem(50px);
		}
	}
	.s-label{
		color: #666;
	}
	.s-content{
		span{
			font-size: px2rem(map_get($map-font-size, s));
		}
	}
	.mulit-line{
	    line-height: px2rem(20px);
	    word-break: break-word;
	    display: inline-block;
	    padding: px2rem(10px) 0;
	}
	.order-bottom-cell{
		padding-top: px2rem(10px);
		padding-bottom: px2rem(10px);
		p{
			line-height: px2rem(25px);
			color: #666;
			font-size: px2rem(map_get($map-font-size, s));
			span{
				color: #666;
				font-size: px2rem(map_get($map-font-size, s));
			}
		}
	}
	.order-status{
		$c-wh: 15px;
		$l-h: 2px;
		display: flex;
    	align-items: center;
    	padding: px2rem(10px) px2rem(30px) px2rem(30px) px2rem(30px);
		i{
			width: px2rem($c-wh);
			height: px2rem($c-wh);
    		border-radius: $c-wh/2;
    		&.now{
    			color: $color-light;
    			background: $color-light;
    		}
    		&.future{
    			color: #888;
    			background: #ddd;
    		}
    		span{
    			$span-w: 80px;
			    position: relative;
			    width: px2rem($span-w);
			    display: block;
			    left: px2rem($span-w/-2 + $c-wh/2);
			    text-align: center;
			    top: px2rem(20px);
    			font-style: initial;
    			font-size: px2rem(map_get($map-font-size, xs));
    			color: inherit;
    		}
		}
		line{
			height: px2rem($l-h);
			display: inline-block;
			flex: 1;
    		&.now{
    			background: $color-light;
    		}
    		&.future{
    			background: #ddd;
    		}
		}
	}
}