<div class="pay-page" ng-controller="PayCtrl">
    <div class="cell-group">
        <div class="cell">
            <div class="left-box clearly-width">
                <span class="label">请支付</span>
            </div>
            <div class="middle-box">
                <span style="color:#06c1ae;">200.00元</span>
            </div>
        </div>
        <div class="cell">
            <div class="left-box clearly-width">
                <span class="label">订单号：</span>
            </div>
            <div class="middle-box">
                <span>QB16092857090501</span>
            </div>
        </div>
        <div class="cell">
            <div class="left-box clearly-width">
                <span class="label">订单标题：</span>
            </div>
            <div class="middle-box">
                <span>我是测试</span>
            </div>
        </div>
        <div class="cell">
            <div class="left-box clearly-width">
                <span class="label">订单详情：</span>
            </div>
            <div class="middle-box">
                <span>我得了面瘫脸不能动！！！哦哦哦哦哦</span>
            </div>
        </div>
        <div class="cell">
            <div class="left-box clearly-width">
                <span class="label">订单状态：</span>
            </div>
            <div class="middle-box">
                <span>待支付</span>
            </div>
        </div>
    </div>
    <div class="btn-dock">
        <div class="left-dock">
            <button class="btn btn-minor">暂不支付</button>
        </div>
        <div class="right-dock">
            <button class="btn btn-primary">立即支付</button>
        </div>
    </div>
</div>