.layout-base{
    background: $color-main-bg;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    height: 100vh;
    width:100%;
    .layout-header{
        width: 100%;
        height:px2rem($header-height);
    }
    .layout-content{
        -webkit-box-flex: 1;
        -webkit-flex: 1;
        flex: 1;
        width: 100%;
        overflow-x: hidden;
        overflow-y: auto;
    }
    .layout-footer{
        width: 100%;
        height: px2rem($footer-height);
    }
}