<div ng-controller="DoctorRecommendCtrl" class="doctor-recommend-page">
    <div class="filter-content" ng-show="filterShow && filterIndex == 0">
        <div class="wrap" id="areaFilter">
            <div class="scroll">
                <ul>
                    <li class="hot">
                        <p>热门城市</p>
                        <div class="item-box">
                            <div class="hot-item" ng-repeat="item in hotCity"><span
                                    ng-class="{'active':(selectedCity.city==item.city&&selectedCity.id==item.id)}"
                                    ng-bind="item.city" ng-click="selectCity(item)"></span></div>
                        </div>
                    </li>
                    <li class="usual"
                        ng-class="{'tag':item.type === 'tag','active':(selectedCity.city==item.city&&selectedCity.id==item.id)}"
                        ng-repeat="item in allCity" id="{{item.id}}" ng-bind="item.city"
                        ng-click="selectCity(item)"></li>
                </ul>
            </div>
        </div>
        <div class="letter-nav">
            <div class="nav" ng-repeat="item in letterNavList" ng-bind="item" ng-click="scrollToLetter(item)"></div>
        </div>
    </div>
    <div class="filter-content" ng-show="filterShow && filterIndex == 1">
        <div class="wrap" id="hospitalFilter">
            <div class="scroll">
                <ul>
                    <li class="usual" ng-repeat="item in hospitalList" ng-class="{'active':selectedHospital.id == item.id}" ng-bind="item.hospital_name" ng-click="selectHospital(item)"></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="filter-content" ng-show="filterShow && filterIndex == 2">
        <div class="wrap" id="levelFilter">
            <div class="scroll">
                <ul>
                    <li class="usual" ng-repeat="item in levelList" ng-class="{'acive': selectedLevel.name == item.name}" ng-bind="item.name" ng-click="selectLevel(item)"></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="filter">
        <div class="item" ng-class="{'active':filterIndex == 0 && filterShow}" ng-click="ctrlFilter(0)"><span
                class="text" ng-bind="selectedCity.city"></span><span class="triangle-down"></span></div>
        <div class="item" ng-class="{'active':filterIndex == 1 && filterShow}" ng-click="ctrlFilter(1)"><span
                class="text" ng-bind="selectedHospital.short_name || selectedHospital.hospital_name"></span><span class="triangle-down"></span></div>
        <div class="item" ng-class="{'active':filterIndex == 2 && filterShow}" ng-click="ctrlFilter(2)"><span
                class="text" ng-bind="selectedLevel.name"></span><span class="triangle-down"></span></div>
    </div>
    <div class="doctor-list">
        <div class="wrap" id="doctorScroll">
            <div class="scroll">
                <ul>
                    <li class="doctor-item" ng-repeat="item in doctorList" ng-click="selectDoctor(item)">
                        <div class="info-box">
                            <div class="img"><img src="app/images/img/head.jpg" alt=""></div>
                            <div class="info">
                                <p><span class="name" ng-bind="item.name"></span><span ng-repeat="t in item.title" ng-bind="t"></span></p>
                                <p><span ng-bind="item.department.department_name"></span></p>
                                <p><span ng-bind="item.hospital.hospital_name"></span></p>
                            </div>
                        </div>
                        <div class="desc" ng-bind="item.desc"></div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>