<div ng-controller="DoctorDetailCtrl" class="doctor-detail-page">
    <div class="main-info">
        <span class="doc-yz-tag">义诊专家</span>
        <img src="http://dr.static.mingyizhudao.com/25B5C5A2C885B62AE8ED01901FF6F552">
        <p>
            <span>眼科</span><span>主任医师</span>
        </p>
        <p>
            <span>重庆大坪医院</span>
        </p>
    </div>
    <div class="tab-box">
        <div class="tab-header">
            <div class="tab-item" ng-class="{'active': selectedTab == 0}" ng-click="checkTab(0)">医生信息</div>
            <div class="tab-item" ng-class="{'active': selectedTab == 1}" ng-click="checkTab(1)">评价</div>
        </div>
        <div class="tab-content">
            <div class="item-content" ng-show="selectedTab == 0">
                <div class="cell-group border-none">
                    <div class="cell">
                        <p>擅长</p>
                        <p>对角膜屈光手术及青少年近视。。。</p>
                    </div>
                    <div class="cell height-auto">
                        <p>推荐理由</p>
                        <p>科室水平领先全国</p>
                    </div>
                    <div class="cell height-auto">
                        <p>荣誉</p>
                        <p>科室水平领先全国</p>
                    </div>
                    <div class="cell height-auto">
                        <p>职业经历</p>
                        <p>科室水平领先全国</p>
                    </div>
                </div>
            </div>
            <div class="item-content" ng-show="selectedTab == 1">
                <ul class="doc-remark-list">
                    <li>
                        <div class="doc-remark-user">
                            <img src="http://static.mingyizhudao.com/146303241586665">
                            <div>
                                <p>h***</p>
                                <p><i class="star"></i></p>
                            </div>
                        </div>
                        <p class="doc-remark-p">非常认真的给我做了手术，术中一直鼓励我，是个很不错的医生，，态度很好，thank you very much！</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="btn-dock fixed bottom-button">
        <button class="btn btn-warning" ng-click="bookingDoctor()">预约医生</button>
    </div>
</div>