<div ng-controller="DoctorCtrl" class="doctor-page">
   <div class="doc-tab-nav">科室疾病全部</div>
   <div class="doc-list">
   		<ul>
   			<li>
   				<div class="doc-description">
					<i class="yz-img">义诊</i>
					<i class="qy-img">签约</i>
   					<img src="http://dr.static.mingyizhudao.com/25B5C5A2C885B62AE8ED01901FF6F552">
   					<div>
   						<p>
   							<span>白继</span>
   							<span>教授</span>
   						</p>
   						<p>
   							<span>眼科</span>
   							<span>主任医师</span>
   						</p>
   						<p>
   							<span>重庆大坪医院</span>
   						</p>
   					</div>
   				</div>
   				<p>
   					<span class="doc-goodat-span">擅长：</span>
   					<span>对角膜屈光手术及青少年近视防控方面有着丰富的临床经验。</span>
   				</p>
   			</li>
   		</ul>
   </div>
</div>