<div ng-controller="DoctorCtrl" class="doctor-page">
   <div class="doc-tab-nav">
      <ul>
         <li ng-class="{'tab-selected':selectedIndex==1}" ng-click="showContent(1)"><span ng-bind="deptName||'科室'"></span><i class="tab-arrow"></i></li>
         <li ng-class="{'tab-selected':selectedIndex==2}" ng-click="showContent(2)"><span ng-bind="diseaseName||'疾病'"></span><i class="tab-arrow"></i></li>
         <li ng-class="{'tab-selected':selectedIndex==3}" ng-click="showContent(3)"><span ng-bind="cityName||'全部'"></span><i class="tab-arrow"></i></li>
      </ul>
      <div ng-show="isShowContent" class="doc-tab-mask" ng-click="hideContent()">
         <ul>
            <li ng-show="selectedIndex==1" ng-repeat="obj in deptList" ng-click="clickDeptList(obj,$event)"><span ng-bind="obj.name"></span></li>
            <li ng-show="selectedIndex==2" ng-repeat="obj in diseaseList" ng-click="clickDiseaseList(obj,$event)"><span ng-bind="obj.name"></span></li>
            <li ng-show="selectedIndex==3" ng-repeat="obj in cityList" ng-click="clickCityList(obj,$event)"><span ng-bind="obj.city"></span></li>
         </ul>
      </div>
   </div>
   <div class="doc-list">
   		<ul>
   			<li ng-click="goDoc(doc.id)" ng-repeat="doc in doctorList">
   				<div class="doc-description">
					<i ng-if="doc.isServiceId==2" class="yz-img">义诊</i>
					<i ng-if="doc.isContracted==1" class="qy-img">签约</i>
   					<img src="{{doc.imageUrl}}">
   					<div>
   						<p>
   							<span ng-bind="doc.name"></span>
   							<span ng-bind="doc.aTitle"></span>
   						</p>
   						<p>
   							<span ng-bind="doc.hpDeptName"></span>
   							<span ng-bind="doc.mTitle"></span>
   						</p>
   						<p>
   							<span ng-bind="doc.hpName"></span>
   						</p>
   					</div>
   				</div>
   				<p class="doc-desc">
   					<span class="doc-goodat-span">擅长：</span>
   					<span ng-bind="doc.desc"></span>
   				</p>
   			</li>
   		</ul>
   </div>
</div>