<div ng-controller="BookingDoctorCtrl" class="booking-doctor-page">
    <div ng-if="isShowService" class="service-flow-box-out">
        <div class="service-flow-box-in">
            <a ng-click="serviceFlow()" class="circle-close clear-input-btn close-btn"></a>
            <ul>
                <li><i>1</i>提交预约单并支付手术预约金</li>
                <li><i>2</i>客服回访确认并联系专家</li>
                <li><i>3</i>双方确认并安排术前面诊</li>
                <li><i>4</i>进行手术</li>
            </ul>
        </div>
    </div>
    <div id="doctorScroll" class="wrap">
        <div class="scroll" class="booking-content">
            <p class="booking-tips">您正在预约的是</p>
            <div class="main-info">
                <!-- <span class="doc-yz-tag">义诊专家</span> -->
                <img src="app/images/img/head.jpg">
                <div>
                    <p>
                        <span class="dt-name" ng-bind="treatmentDoctorName"></span>
                        <span class="dt-minor">教授</span>
                        <span class="dt-minor">主任医师</span>
                    </p>
                    <p>
                        <span class="dt-minor" ng-bind="treatmentDeptName"></span>
                    </p>
                    <p>
                        <span class="dt-minor" ng-bind="treatmentHospitalName"></span>
                    </p>
                </div>
            </div>
            <form name="bookingInfoForm">
                <div class="cell-group border-none border-radius">
                    <div class="cell">
                        <div class="left-box">
                            <i class="iconfont icon-person"></i>
                        </div>
                        <div class="middle-box">
                            <p class="label">患者信息</p>
                        </div>
                    </div>
                    <div class="cell">
                        <div class="left-box">
                            <span class="s-label">患者姓名</span>
                        </div>
                        <div class="middle-box">
                            <input type="text" class="s-content text-right" minlength="2" maxlength="10" placeholder="请填写患者姓名" validate-base="请输入正确的姓名" ng-model="patient.name" required>
                        </div>
                    </div>
                    <div class="cell" ng-class="{'mobile-input':!user}">
                        <div class="left-box ">
                            <p class="s-label">手机号</p>
                        </div>
                        <div class="middle-box text-right" ng-if="user">
                            <span class="s-label" ng-bind="user.name"></span>
                        </div>
                        <div ng-if="!user" class="middle-box sim">
                            <input type="text" class="s-content text-right" minlength="11" maxlength="11" placeholder="请填写手机号" validate-base="请输入正确的手机号" ng-model="patient.diseaseName" required>
                        </div>
                        <p ng-if="!user" class="mobile-tip">如该手机号未注册，则默认注册并登录</p>
                    </div>
                    <div ng-if="!user" class="cell">
                        <div class="left-box v-input-w">
                            <input type="text" class="s-content" minlength="6" maxlength="6" placeholder="请输入验证码" validate-base="请输入至少6个数字的验证码" ng-model="patient.verifyCode" required>
                        </div>
                        <div class="right-box text-center v-code-w">
                            <a class="getCode" ng-bind="sendSMSText"></a>
                        </div>
                    </div>
                </div>
                <div class="cell-group border-none border-radius">
                    <div class="cell">
                        <div class="left-box">
                            <i class="iconfont icon-file"></i>
                        </div>
                        <div class="middle-box">
                            <p class="label">疾病信息</p>
                        </div>
                    </div>
                    <div class="cell" ng-click="changeDise()">
                        <div class="left-box">
                            <span class="s-label">疾病名称</span>
                        </div>
                        <div class="middle-box text-right">
                            <span class="s-label" ng-bind="selectedDiseaseName||'请选择您的疾病名称'"></span>
                        </div>
                        <div class="right-box">
                            <span class="arrow-right"></span>
                        </div>
                    </div>
                    <div class="cell height-auto">
                        <textarea type="text" class="s-content" minlength="10" maxlength="50" placeholder="请您简要描述下您的病情（至少10字）" validate-base="请输入至少10个字的描述" ng-model="patient.diseaseDescription" required></textarea>
                    </div>
                </div>
            </form>

            <div id="uploadImgBox"></div>

            <div class="btn-dock">
                <div class="agreement">
                    <input id="appServerAgreement" type="checkbox" ng-model="isCheck">
                    <label for="appServerAgreement">我已同意</label><span ng-click="goAgreement()">名医主刀服务协议</span>
                </div>
                <button id="btnBooking" class="btn btn-light" ng-click="booking()" >提交预约</button>
                 <!-- ng-disabled="!isCheck || bookingInfoForm.$invalid" -->
            </div>
        </div>
    </div>
</div>