<div ng-controller="QuickBookingCtrl" class="quick-booking-page">
	<div class="cell-group">
        <div class="cell">
            <div class="left-box">
                <span class="label">医院名称</span>
            </div>
            <div class="middle-box">
                <input type="text" class="text-right" minlength="2" maxlength="10" placeholder="请输入医院名称，可不填" required>
            </div>
        </div>
        <div class="cell">
            <div class="left-box">
                <span class="label">科室名称</span>
            </div>
            <div class="middle-box">
                <input type="text" class="text-right" minlength="2" maxlength="10" placeholder="请输入科室名称，可不填" required>
            </div>
        </div>
    </div>
    <div class="cell-group">
        <div class="cell">
            <div class="left-box">
                <span class="label">医生姓名</span>
            </div>
            <div class="middle-box">
                <input type="text" class="text-right" minlength="2" maxlength="10" placeholder="请输入医生姓名，可不填" required>
            </div>
        </div>
        <div class="cell">
            <div class="left-box">
                <span class="label">患者姓名</span>
            </div>
            <div class="middle-box">
                <input type="text" class="text-right" minlength="2" maxlength="50" placeholder="请输入患者姓名" required>
            </div>
        </div>
        <div class="cell">
            <div class="left-box">
                <span class="label">疾病诊断</span>
            </div>
            <div class="middle-box">
                <input type="text" class="text-right" minlength="10" maxlength="50" placeholder="请填写确诊疾病" required>
            </div>
        </div>
        <div class="cell">
            <div class="left-box">
                <span class="label">疾病描述</span>
            </div>
            <div class="middle-box">
                <input type="text" class="text-right" minlength="10" maxlength="50" placeholder="请尽可能详细的描述患者的病情" required>
            </div>
        </div>
    </div>

    <div class="btn-dock fixed">
        <div class="agreement">
            <input id="appServerAgreement" type="checkbox">
            <label for="appServerAgreement">我已同意</label><span>名医主刀服务协议</span>
        </div>
        <button class="btn btn-warning">预约</button>
    </div>

</div>