<div ng-controller="BookingSuccessCtrl" class="booking-success-page">
    <div class="booking-sucess-tips">
        <i class="iconfont icon-person"></i>
        <h2>您的预约单已经提交成功！</h2>
        <p>名医助手会尽快与您联系并确认就诊意向，请您保持电话畅通。</p>
    </div>
    <ul class="booking-flow">
        <li class="c"><i class="c"></i>等待客服回访确认</li>
        <li><i></i></li>
        <li class="f"><i class="f"></i>支付手术预约金</li>
        <li><i></i></li>
        <li class="f"><i class="f"></i>对接安排医生（如有需要会安排面诊）</li>
        <li><i></i></li>
        <li class="f"><i class="f"></i>等待客服回访确认</li>
    </ul>
    <button class="btn btn-light" ng-click="goOrderDetail()">立即支付预约金，享受更快服务</button>
    <button class="btn btn-aid-light" ng-click="routerGo('layout.home')">返回首页</button>
    <div class="tips">客服的工作时间为每日：9:00-18:00</div>
</div>