<div ng-controller="QuickBookingCtrl" class="quick-booking-page">
    <form name="bookingInfoForm">
	<div class="cell-group">
        <div class="cell">
            <div class="left-box">
                <span class="label">医院名称</span>
            </div>
            <div class="middle-box">
                <input type="text" class="text-right" minlength="2" maxlength="10" placeholder="请输入医院名称，可不填" required>
            </div>
        </div>
        <div class="cell">
            <div class="left-box">
                <span class="label">科室名称</span>
            </div>
            <div class="middle-box">
                <input type="text" class="text-right" minlength="2" maxlength="10" placeholder="请输入科室名称，可不填" required>
            </div>
        </div>
    </div>
    <div class="cell-group">
        <div class="cell">
            <div class="left-box">
                <span class="label">医生姓名</span>
            </div>
            <div class="middle-box">
                <input type="text" class="text-right" minlength="2" maxlength="10" placeholder="请输入医生姓名，可不填" required>
            </div>
        </div>
        <div class="cell">
            <div class="left-box">
                <span class="label">患者姓名</span>
            </div>
            <div class="middle-box">
                <input type="text" class="text-right" minlength="2" maxlength="10" placeholder="请输入患者姓名" required>
            </div>
        </div>
        <div class="cell">
            <div class="left-box">
                <span class="label">疾病诊断</span>
            </div>
            <div class="middle-box">
                <input type="text" class="text-right" minlength="10" maxlength="50" placeholder="请填写确诊疾病" required>
            </div>
        </div>
        <div class="cell">
            <div class="left-box">
                <span class="label">疾病描述</span>
            </div>
            <div class="middle-box">
                <input type="text" class="text-right" minlength="10" maxlength="50" placeholder="请尽可能详细的描述患者的病情" required>
            </div>
        </div>
    </div>
    <p class="bq-tips" ng-if="isLogin">*您尚未注册，此号码可用于后期注册登录。</p>
    <div class="cell-group" ng-if="isLogin">
        <div class="cell">
            <div class="left-box">
                <span class="label">手机</span>
            </div>
            <div class="middle-box">
                <input type="tel" class="text-right" placeholder="请输入11位手机号" maxlength="11" minlength="11" name="codeLogin_phone" ng-model="codeLogin_phone" required>
            </div>
        </div>
        <div class="cell">
            <div class="left-box image-code">
                <span class="label">图片验证码</span>
            </div>
            <div class="middle-box">
                <input type="tel" class="text-right" placeholder="请输入图片验证码" name="codeLogin_captcha" ng-model="codeLogin_captcha" required>
            </div>
            <div class="right-box captcha-box">
                <img src="{{captchaUrl}}" ng-click="refreshCaptcha()" alt="验证码图片">
            </div>
        </div>
        <div class="cell">
            <div class="left-box">
                <span class="label">短信验证码</span>
            </div>
            <div class="middle-box">
                <input type="tel" class="text-right" placeholder="请输入短信验证码" maxlength="6" minlength="6" name="codeLogin_verifyCode" ng-model="codeLogin_verifyCode" required>
            </div>
            <div class="right-box">
                <button class="btn btn-xsmall btn-primary in-cell" ng-disabled="bookingInfoForm.codeLogin_phone.$invalid || bookingInfoForm.codeLogin_captcha.$invalid || lockEnabled" ng-click="sendSMSCode()" ng-bind="sendSMSText"></button>
            </div>
        </div>
    </div>
    </form>
    <div class="btn-dock fixed">
        <div class="agreement">
            <input id="appServerAgreement" type="checkbox" ng-model="isCheck">
            <label for="appServerAgreement">我已同意</label><span>名医主刀服务协议</span>
        </div>
        <button class="btn btn-warning" ng-disabled="!isCheck || bookingInfoForm.$invalid">预约</button>
    </div>

</div>