.layout-base{
    background: $color-main-bg;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    height: 100vh;
    width:100%;
    .layout-header{
        width: 100%;
        height:px2rem($header-height);
        overflow: hidden;
    }
    .layout-content{
        -webkit-box-flex: 1;
        -webkit-flex: 1;
        flex: 1;
        width: 100%;
        position: relative;
        overflow-x: hidden;
        overflow-y: auto;

        transform: translateY(-1px);//上移1像素，保证header和content链接不留缝隙（医生详情页）
        .view-content{
            width: 100%;
            height: 100%;
            position: absolute;
        }
    }
    .layout-footer{
        width: 100%;
        height: px2rem($footer-height);
        overflow: hidden;
    }
}