@import "../framework/sass/fn.scss";
@import "../framework/sass/theme/<%=THEME_NAME%>/variables.scss";
@import "../components/c-variables.scss";

//import your used modules scss files
@import "modules/m_layout/sass/layout.scss";
@import "modules/m_login/sass/login.scss";
@import "modules/m_home/sass/index.scss";
@import "modules/m_me/sass/me.scss";
@import "modules/m_me/sass/order.scss";
@import "modules/m_me/sass/problems.scss";
@import "modules/m_hospital/sass/hospitall.scss";
@import "modules/m_booking/sass/booking.scss";
@import "modules/m_search/sass/index.scss";
@import "modules/m_doctor/sass/doctor.scss";
@import "modules/m_find/sass/find.scss";
@import "modules/m_pay/sass/pay.scss";
