$color-primary: #06c1ae;
$color-border-primary: #09a697;
$color-main-bg: #efefef;
$color-border-default: #d6d6d6;

$brand-primary: $color-primary;
$brand-success: #0b8c1f;
$brand-default: #a6ebff;
$brand-info: #009ddb;
$brand-warning: #f07415;
$brand-danger: #ba2a25;

$color-ligth-text: #06c1ae;

$map-font-size: (xs:12px,s:14px,m:16px, l:18px, xl:20px);
