$color-primary: #8fead2;
$color-border-primary: #8fead2;
$color-main-bg: #f1f1f1;
$color-border-default: #d7d7d7;
$color-light: #f17a73;

$brand-primary: $color-primary;
$brand-success: #0b8c1f;
$brand-default: #a6ebff;
$brand-info: #009ddb;
$brand-warning: #f07415;
$brand-danger: #ff857e;

$color-ligth-text: #06c1ae;

$map-font-size: (xxs:10px,xs:12px,s:14px,m:16px, l:18px, xl:20px);
