.before-advisory-page{

}
.talk-advisory-page{
	display: flex;
	flex-direction: column;
	height: 100%;
	.talk-input{
		height: px2rem(45px);
		input{
			width: 100%;
			height: 100%;
			border-width: 0;
			padding: 0 px2rem(10px);
			border-color: #fff;
		}
	}
	.talk-tips{
		text-align: center;
		color: #bbb;
		padding: 0 0 px2rem(10px) 0;
	}
    .wrap{
        position: relative;
        width: 100%;
        height: 100%;
        overflow: hidden;
        .scroll{
            // position: absolute;
            width: 100%;
        }
    }
	.talk-content{
		flex: 1;
		padding: px2rem(10px);
		$talk-list-wh: 20px;
		$talk-padding: 10px;
		.list-talk{
		    display: flex;
		    flex-direction: column;
			list-style: none;
			// padding: px2rem(10px);
			li{
				display: flex;
				padding-right: px2rem(10px);
			}
		}
		.l-talk>*{
			float: left;
		}
		.l-talk>div, .r-talk{
			padding: px2rem(10px);
			line-height: px2rem($talk-list-wh);
			border-radius: px2rem(5px);
			min-width: px2rem(150px);
			max-width: px2rem(200px);
		    margin-bottom: px2rem(10px);
    		word-break: break-all;
		    position: relative;
		}
		.l-talk-i{
			width: px2rem($talk-list-wh+$talk-padding*2);
			height: px2rem($talk-list-wh+$talk-padding*2);
			background: #fff url('images/icon/logo-temp.png');
			background-size: cover;
			border-radius: px2rem($talk-list-wh/2+$talk-padding);
			border: 1px #ddd solid;
			margin-right: px2rem(20px);
			display: block;
		}
		.l-talk>div{
			background: #a0daf7;
			align-self: flex-start;
			color: #20343e;
			&:after{
				right: 100%;
				top: 50%;
				border: solid transparent;
				content: " ";
				height: 0;
				width: 0;
				position: absolute;
				pointer-events: none;
			}

			&:after {
				border-color: rgba(136, 183, 213, 0);
				border-right-color: #a0daf7;
				border-width: px2rem(10px);
				margin-top: px2rem(-10px);
			}
		}

		.l-talk>.l-talk-doc{
			padding: px2rem(5px) 0;
			background: #fff;
			align-self: flex-start;
			color: #20343e;
			width: px2rem(250px);
			max-width: none;
			color: #888;
			line-height: px2rem(25px);
			.doc-name{
				color: #555;
				font-size: px2rem(map_get($map-font-size, m));
			}
			>p:last-child{
				color: #aaa;
				line-height: px2rem(20px);
				border-top: 1px solid #eee;
				text-align: right;
			}
			&:after{
				right: 100%;
				top: px2rem(20px);
				border: solid transparent;
				content: " ";
				height: 0;
				width: 0;
				position: absolute;
				pointer-events: none;
			}

			&:after {
				border-color: rgba(136, 183, 213, 0);
				border-right-color: #fff;
				border-width: px2rem(10px);
				margin-top: px2rem(-10px);
			}
		}
		.l-talk-doc-info{
			display: flex;
			padding: 0 px2rem(10px);
			// &:after{
			// 	clear: both;
			// 	content: '';
			// 	display: block;
			// }
			// img,>div{
			// 	float: left;

			// }
			img{
				$doc-img-wh: 50px;
				width: px2rem($doc-img-wh);
				height: px2rem($doc-img-wh);
				border-radius: px2rem($doc-img-wh/2);
				margin: px2rem(15px) 0 0 px2rem(5px);
			}
			>div{
				flex: 1;
			}
		}
		.r-talk{
			background: #fff;
  			align-self: flex-end;
		    margin-right: px2rem(20px);
			&:after {
				left: 100%;
				top: 50%;
				border: solid transparent;
				content: " ";
				height: 0;
				width: 0;
				position: absolute;
				pointer-events: none;
			}

			&:after {
				border-color: rgba(136, 183, 213, 0);
				border-left-color: #fff;
				border-width: px2rem(10px);
				margin-top: px2rem(-10px);
			}
		}
	}
	.patient-info{
		padding: px2rem(10px) px2rem(10px);
		background: #fff;
		border-radius: px2rem(5px);
		line-height: px2rem(30px);
		margin-bottom: px2rem(20px);

		.talk-c-info,.talk-c-info>span{
			color: #aaa;
		}
	}
}