<div ng-controller="ProblemCostCtrl" class="problems-page">
    <h3>
        1.名医主刀为什么是收费服务？
    </h3>
    <p>
        名医主刀为保障服务顺利、满意进行付出运营成本，所以该服务是收费服务。
    </p>
    <h3>
        2.包含哪些服务？
    </h3>
    <p>
        包含术前病例资料整理，专家匹配，第一次面诊陪诊服务费（如有需要，安排门诊）。
    </p>
    <h3>
        3.预约金是否可以退还？
    </h3>
    <p>
        当平台无法对接到患者所指定的专家，而且患者又不接受名医助手推荐的其他名医，则在与患者确认取消服务后的48小时内，将全部预约金200元退至患者支付的账户里。
    </p>
    <h3>
        4.手术需要多少费用？
    </h3>
    <p>
        具体的手术费用需要根据患者确诊的疾病、身体状况和治疗方式、医院和医生的情况综合评估得出。
    </p>
</div>