.scroll-wrap{
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    .scroll{
        position: absolute;
        width: 100%;
        ul{
            width: 100%;
            list-style: none;
            float:left;
        }
    }
}