<div ng-controller="RegisterCtrl" class="login-page">
    <form name="regForm">
        <div class="cell-group border-top-none">
            <div class="cell">
                <div class="left-box">
                    <span class="label-icon phone"></span>
                </div>
                <div class="middle-box">
                    <input type="tel" placeholder="请输入11位手机号" maxlength="11" minlength="11" name="reg_phone" ng-model="reg_phone" validate-mobile required>
                </div>
            </div>
            <div class="cell">
                <div class="left-box image-code">
                    <span class="label-icon"></span>
                </div>
                <div class="middle-box">
                    <input type="tel" placeholder="请输入图片验证码" name="reg_captcha" ng-model="reg_captcha" validate-base="请输入计算出的数值" required>
                </div>
                <div class="right-box captcha-box">
                    <img src="{{captchaUrl}}" ng-click="refreshCaptcha()" alt="验证码图片">
                </div>
            </div>
            <div class="cell">
                <div class="left-box">
                    <span class="label-icon safe-code"></span>
                </div>
                <div class="middle-box">
                    <input type="tel" placeholder="请输入短信验证码" maxlength="6" minlength="6" name="reg_verifyCode" ng-model="reg_verifyCode" validate-base="请输入6位短信验证码" required>
                </div>
                <div class="right-box">
                    <button class="btn btn-small btn-primary in-cell" ng-disabled="regForm.reg_phone.$invalid || regForm.reg_captcha.$invalid || lockEnabled" ng-click="sendSMSCode()" ng-bind="sendSMSText"></button>
                </div>
            </div>
            <div class="cell">
                <div class="left-box">
                    <span class="label-icon password"></span>
                </div>
                <div class="middle-box">
                    <input type="{{pwdInputType}}" placeholder="请输入密码" minlength="4" name="reg_password" ng-model="reg_password" validate-base="请输入4位以上密码" required>
                </div>
                <div class="right-box">
                    <span class="eye-icon" ng-class="{'active':showPwd}" ng-click="ctrlPwd()"></span>
                </div>
            </div>
        </div>
        <div class="btn-dock">
            <button class="btn btn-primary" ng-disabled="regForm.$invalid" ng-click="doRegister()">立即注册</button>
        </div>
    </form>
    <!-- <div class="iconfont icon-wode"></div> -->
</div>