<div class="search-page" ng-controller="SearchCtrl">
    <div class="search-header">
        <div class="centerOpt"><input id="searchInput" type="" name="" placeholder="搜索疾病、医生或医院" ng-model="searchContent" ng-change="searchInfo(searchContent)"></div>
        <div class="rightOpt" ng-click="routerGo('layout.home')">取消</div>
    </div>
    <div class="search-result">
        <div ng-if="searchTips" class="search-tips" ng-bind="searchTips">
        </div>
        <ul>
            <!-- 疾病 -->
            <li ng-if="resDes">
                <div class="search-title"><p>搜索疾病</p></div>
                <div class="cell-group">
                    <div class="cell" ng-repeat="des in resDes.simple">
                        <div class="search-cell-fc">
                            <high-light-widget default-value="des.name" high-light-value="searchContent"></high-light-widget>
                        </div>
                        <div class="search-cell-lc">
                            <button class="btn btn-small btn-hp in-cell" ng-click="findHospital(des.id)">找医院</button>
                            <button class="btn btn-small btn-doc in-cell" ng-click="findDoctor(des.id)">找医生</button>
                        </div>
                    </div>
                </div>
                <div ng-if="resDes.num>3" class="search-move" ng-click="getMoreResult(resDes)">搜索更多<span>共<i ng-bind="resDes.num"></i>条</span></div>
            </li>
            <!-- 医生 -->
            <li ng-if="resDoc">
                <div class="search-title"><p>搜索医生</p></div>
                <div class="cell-group">
                    <div class="cell double-line" ng-repeat="doc in resDoc.simple" ng-click="goDoc(doc.id)">
                        <div class="left-box clearly-width">
                            <high-light-widget default-value="doc.name" high-light-value="searchContent"></high-light-widget>
                        </div>
                        <div class="middle-box">
                            <span class="content">(<i ng-bind="doc.hpName"></i>)</span>
                            <span class="minor"><i ng-bind="doc.hpDeptName"></i>，<i ng-bind="doc.mTitle"></i></span>
                        </div>
                        <div class="right-box">
                        </div>
                    </div>
                </div>
                <div ng-if="resDoc.num>3" class="search-move" ng-click="getMoreResult(resDoc)">搜索更多<span>共<i ng-bind="resDoc.num"></i>条</span></div>
            </li>
            <!-- 医院 -->
            <li ng-if="resHp">
                <div class="search-title"><p>搜索医院</p></div>
                <div class="cell-group">
                    <div class="cell" ng-repeat="hp in resHp.simple" ng-click="goHp(hp.id)">
                        <span class="label">
                            <high-light-widget default-value="hp.name" high-light-value="searchContent"></high-light-widget>
                        </span>
                    </div>
                </div>
                <div ng-if="resHp.num>3" class="search-move" ng-click="getMoreResult(resHp)">搜索更多<span>共<i ng-bind="resHp.num"></i>条</span></div>
            </li>
        </ul>
    </div>
</div>