<div ng-controller="HospitalDetailCtrl" class="hospital-detail-page">
    <div class="main-info">
        <p class="hp-name" ng-bind="hospitalInfo.hospital.ShortName || hospitalInfo.hospital.name"></p>
        <p class="hp-tag"
           ng-bind="hospitalInfo.hospital.class.substr(0,2) + ' | ' + hospitalInfo.hospital.type.substr(0, 2)"></p>
    </div>
    <div class="tab-box">
        <div class="tab-header">
            <div class="tab-item" ng-class="{'active': selectedTab == 0}" ng-click="checkTab(0)">最强科室</div>
            <div class="tab-item" ng-class="{'active': selectedTab == 1}" ng-click="checkTab(1)">医院介绍</div>
        </div>
        <div class="tab-content">
            <div class="item-content" ng-show="selectedTab == 0">
                <div class="cell-group border-none"
                     ng-repeat="(key, value) in hospitalInfo.departments track by $index">
                    <div class="cell">
                        <div class="left-box">
                            <img class="department-icon" src="{{ key |departmentIcon}}" alt="科室图标">
                        </div>
                        <div class="middle-box">
                            <span class="label" ng-bind="key"></span>
                        </div>
                    </div>
                    <div class="cell height-auto">
                        <div class="left-box"></div>
                        <div class="middle-box">
                            <span class="department-item" ng-repeat="item in value track by $index" ng-bind="item.name" ng-click="goDepartment(hospitalInfo.hospital, item)"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item-content" ng-show="selectedTab == 1">
                <p class="hp-des" ng-bind="hospitalInfo.hospital.description"></p>
            </div>
        </div>
    </div>
</div>