<div class="home-page" ng-controller="HomeCtrl">
    <div class="h-ad" id="h-ad">
        <!-- <img src="app/images/img/home-header.png"> -->
        <!-- <landscape-scroll scroll-id="adScroll" item-num="3">
            <div><img ng-click="goDetailUrl('mygy')" src="http://static.mingyizhudao.com/147330339912652"></div>
            <div><img ng-click="goDetailUrl('catherine')" src="http://static.mingyizhudao.com/146606890329840"></div>
            <div><img ng-click="goDetailUrl('loveOperation')" src="http://static.mingyizhudao.com/147150951177488">
            </div>
        </landscape-scroll> -->
    </div>
    <div class="search-box">
        <div class="left" ng-click="openSidebar()">
            <i class="iconfont icon-person-fill"></i>
        </div>
        <div class="right">
            <i class="iconfont icon-search"></i>
            <input type="text" name="" placeholder="搜索疾病、医生或医院" ng-focus="routerGo('layout.search')">
        </div>
    </div>
    <div class="nav">
        <div class="cell-group border-none">
            <div class="cell height-auto" ng-click="linkToDisease()">
                <div class="left-box">
                    <img src="app/images/icon/icon-doctor.png" alt="">
                </div>
                <div class="middle-box">
                    <p class="label">按疾病找名医</p>
                    <p class="content">明确疾病 精准寻医</p>
                </div>
                <div class="right-box">
                    <i class="iconfont arrow-right"></i>
                </div>
            </div>
            <div class="cell height-auto" ng-click="linkTo('layout.hospital')">
                <div class="left-box">
                    <img src="app/images/icon/icon-hospital.png" alt="">
                </div>
                <div class="middle-box">
                    <p class="label">按医院找名医</p>
                    <p class="content">最强医院 权威推荐</p>
                </div>
                <div class="right-box">
                    <i class="iconfont arrow-right"></i>
                </div>
            </div>
            <div class="cell height-auto" ng-click="goAdvisory()">
                <div class="left-box">
                    <img src="app/images/icon/icon-talk.png" alt="">
                </div>
                <div class="middle-box">
                    <p class="label">在线咨询</p>
                    <p class="content">分诊团队 专业答疑</p>
                </div>
                <div class="right-box">
                    <i class="iconfont arrow-right"></i>
                </div>
            </div>
        </div>
    </div>
    <div class="ad-box">
        <div class="wrapper" id="scrollAd">
            <div class="scroll" id="scrollAd_content">
                <ul>
                    <li class="item" ng-repeat="ad in adList" ng-click="goDetailUrl(ad.redirectUrl)">
                        <img src="{{ad.imgUrl}}" alt="ad.tagName">
                        <div class="tag" ng-class="{'active':$index == adIndex}" ng-bind="ad.tagName"></div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!--<div class="h-12tubes">-->
        <!--<landscape-scroll scroll-id="12tubeScroll" item-num="2">-->
            <!--<div>-->
                <!--<ul class="h-tube-ul">-->
                    <!--<li class="h-t1" ng-click="goHospital('101')">普外科</li>-->
                    <!--<li class="h-t2" ng-click="goHospital('102')">骨科</li>-->
                    <!--<li class="h-t3" ng-click="goHospital('103')">神经外科</li>-->
                    <!--<li class="h-t4" ng-click="goHospital('105')">胸外科</li>-->
                    <!--<li class="h-t5" ng-click="goHospital('104')">泌尿外科</li>-->
                    <!--<li class="h-t6" ng-click="goHospital('108')">眼科</li>-->
                <!--</ul>-->
            <!--</div>-->
            <!--<div>-->
                <!--<ul class="h-tube-ul">-->
                    <!--<li class="h-t7" ng-click="goHospital('106')">心血管外科</li>-->
                    <!--<li class="h-t8" ng-click="goHospital('109')">耳鼻喉科</li>-->
                    <!--<li class="h-t9" ng-click="goHospital('107')">整形外科</li>-->
                    <!--<li class="h-t10" ng-click="goHospital('110')">颌面外科</li>-->
                    <!--<li class="h-t11" ng-click="goHospital('111')">妇科</li>-->
                    <!--<li class="h-t12" ng-click="goHospital('112')">小儿外科</li>-->
                <!--</ul>-->
            <!--</div>-->
        <!--</landscape-scroll>-->
    <!--</div>-->
    <!--<div class="h-ad">-->
        <!--<landscape-scroll scroll-id="adScroll" item-num="3">-->
            <!--<div><img ng-click="goDetailUrl('mygy')" src="http://static.mingyizhudao.com/147330339912652"></div>-->
            <!--<div><img ng-click="goDetailUrl('catherine')" src="http://static.mingyizhudao.com/146606890329840"></div>-->
            <!--<div><img ng-click="goDetailUrl('loveOperation')" src="http://static.mingyizhudao.com/147150951177488"></div>-->
        <!--</landscape-scroll>-->
    <!--</div>-->
    <!--<div class="h-channel">-->
    	<!--<ul>-->
    		<!--<li>-->
	    		<!--<a class="h-findDoc-a" ng-click="routerGo('layout.doctor')">-->
		    		<!--<h5>找名医</h5>-->
		    		<!--<span>各地名医推荐</span>-->
	    		<!--</a>-->
    		<!--</li>-->
    		<!--<li>-->
    			<!--<a class="h-booking-a" ng-click="routerGo('layout.operation-train')">-->
	    			<!--<h5>快速预约</h5>-->
	    			<!--<span>省心放心找名医</span>-->
    			<!--</a>-->
    		<!--</li>-->
    		<!--<li>-->
	    		<!--<a class="h-service-a" ng-click="goBaidukf()">-->
		    		<!--<h5>在线客服</h5>-->
		    		<!--<span>咨询了解我们</span>-->
	    		<!--</a>-->
    		<!--</li>-->
    	<!--</ul>-->
    <!--</div>-->
    <!--<div class="h-phone" ng-click="callPhone()">免费</div>-->
</div>