<div class="home-page" ng-controller="HomeCtrl">
    <div class="h-top">
    	<h1>做手术就找名医主刀</h1>
    	<p>
    		<input type="" name="" placeholder="搜索疾病、医生或医院">
    	</p>
    </div>
    <div class="h-12tubes">
    	<ul class="landscape-scroll">
    		<li>
    			<ul class="h-tube-ul">
    				<li class="h-t1">普外科</li>
    				<li class="h-t2">骨科</li>
    				<li class="h-t3">神经外科</li>
    				<li class="h-t4">胸外科</li>
    				<li class="h-t5">泌尿外科</li>
    				<li class="h-t6">眼科</li>
    			</ul>
    		</li>
    		<li>
    			<ul class="h-tube-ul">
    				<li class="h-t7">心血管外科</li>
    				<li class="h-t8">耳鼻喉科</li>
    				<li class="h-t9">整形外科</li>
    				<li class="h-t10">颌面外科</li>
    				<li class="h-t11">妇科</li>
    				<li class="h-t12">小儿外科</li>
    			</ul>
    		</li>
    	</ul>
    	<ul class="landscape-scroll-pagination">
    		
    	</ul>
    </div>
    <div class="h-ad">
    	<ul class="landscape-scroll ">
    		<li><img alt="0元见名医_专家面对面" src="http://static.mingyizhudao.com/146906610294170"></li>
    		<li><img alt="名医义诊" src="http://static.mingyizhudao.com/146606890329840"></li>
    		<!-- <li><img alt="名医公益行" src="http://static.mingyizhudao.com/147150951177488"></li> -->
    	</ul>
    </div>
    <div class="h-channel">
    	<ul>
    		<li>
	    		<a class="h-findDoc-a" ng-click="routerGo('')">
		    		<h5>找名医</h5>
		    		<span>各地名义推荐</span>
	    		</a>
    		</li>
    		<li>
    			<a class="h-booking-a" ng-click="routerGo('')">
	    			<h5>快速预约</h5>
	    			<span>省心放心找名医</span>
    			</a>
    		</li>
    		<li>
	    		<a class="h-service-a" ng-click="routerGo('')">
		    		<h5>在线客服</h5>
		    		<span>咨询了解我们</span>
	    		</a>
    		</li>
    	</ul>
    </div>
</div>