<div ng-controller="AboutUsCtrl" class="aboutus-page">
    <p>
       名医主刀是国内专业的移动医疗手术预约平台，响应国家分级诊疗及多点执业政策，利用互联网技术实现医患精准匹配，
       医疗资源优化配置，旨在为有手术需求的患者提供专业、高效、安全的手术医疗预约服务。帮助有手术需求的患者，
在第一时间预约全国知名专家，安排入院手术。
    </p>
    <p style="color:#2E5456;">
       公司总部坐落于上海，现设北京、杭州、天津、广州、南京、济南、成都、延安等分部，业务范围覆盖全国。平台汇聚了国内外
优质名医资源和闲置床位资源，并利用互联网技术实现医患精准匹配，医疗资源优化配置，帮助患者解决<span>“好看病，看好病”</span>的切实需求。
    </p>
   <div class="text-center">
     <img src="http://static.mingyizhudao.com/147245840481765" width="21">  
   </div>
   <div class="text-center ">
      <img src="http://static.mingyizhudao.com/14724584094842" width="223"> 
   </div>
    <p>
     平台汇聚了全球三万名以上三甲医院副主任级别及以上的医师，并与工程院院士等级别的专家团队、美国凯瑟琳癌症中心、梅奥诊所
等世界著名医疗机构深度合作。签约医师涵盖不同的科室，能让更多患者通过这一平台精准对接到擅长相关疾病的专家，从而节省了
在不同医院门诊排队的时间，并减少患者乱投医而产生的额外费用。 
    </p>
   <div class="text-center">
     <img src="http://static.mingyizhudao.com/147245872641968" width="20">  
   </div>
   <div class="text-center ">
      <img src="http://static.mingyizhudao.com/147245873040011" width="223"> 
   </div>
    <p>
    名医主刀与国内多家三甲医院、二甲医院、民营医院合作，基层首诊患者通过名医主刀平台可对接三甲医院医生，在有闲置床位资源的
二甲医院或者民营医院进行手术治疗，缓解三甲医院门诊压力，提高基层医院医疗资源的有效利用。通过名医主刀，患者不仅可以获得专家细致、专业的诊疗服务，还可以缩短治疗的等候时间。在名医主刀，经过对医疗资源的优化配置，
预约手术时间可以缩短为一个星期，极大程度的避免了因为手术延迟而耽误病情。   
    </p>
   <div class="text-center">
     <img src="http://static.mingyizhudao.com/147245900736936" width="19">  
   </div>
   <div class="text-center ">
      <img src="http://static.mingyizhudao.com/147245900383939" width="223"> 
   </div>
    <p>
     患者只需要通过名医主刀的服务平台上传自己的病历资料，名医主刀将邀请三甲医院的专家，对患者的病历进行线下会诊，给出具体的治疗方案。
     患者可以根据专家给出的治疗方案，在名医助手的安排下，进行后期的手术治疗。
    </p>
</div>