<div ng-controller="MarkCtrl" class="mark-page">
    <div class="mark-detail-group">
        <p ng-if="!isMarked" class="mark-tips">感谢您选择名医主刀！期待您对我们做出评价！</p>
        <p ng-if="isMarked" class="mark-tips">感谢您选择名医主刀！祝您早日康复！</p>
        <div class="doc-description">
            <img src="app/images/img/head.jpg">
            <div>
                <p>
                    <span class="dt-name">徐键盘</span>
                    <span>教授</span>
                    <span>主任医师</span>
                </p>
                <p>
                    <span>心血管外科</span>
                </p>
                <p>
                    <span>北京协和医院</span>
                </p>
            </div>
        </div>
        <div class="mark-box">
            <ul class="mark" ng-if="!isMarked">
                <li>
                    <span>医生态度：</span>
                    <div class="radio-inline fn-right">
                        <input type="radio" ng-model="markAttr" value="attrSad" id="attrSad" name="markAttr">
                        <label for="attrSad">
                            <span class="check"><i class="circle-check" ng-class="{'uncheck': markAttr != 'attrSad'}"></i></span>
                            <span class="text">不满意</span>
                        </label>
                    </div>
                    <div class="radio-inline fn-right">
                        <input type="radio" ng-model="markAttr" value="attrNormal" id="attrNormal" name="markAttr">
                        <label for="attrNormal">
                            <span class="check"><i class="circle-check" ng-class="{'uncheck': markAttr != 'attrNormal'}"></i></span>
                            <span class="text">一般</span>
                        </label>
                    </div>
                    <div class="radio-inline fn-right">
                        <input type="radio" ng-model="markAttr" value="attrGood" id="attrGood" name="markAttr">
                        <label for="attrGood">
                            <span class="check"><i class="circle-check" ng-class="{'uncheck': markAttr != 'attrGood'}"></i></span>
                            <span class="text">满意</span>
                        </label>
                    </div>
                </li>
                <li>
                    <span>服务效率：</span>
                    <div class="radio-inline fn-right">
                        <input type="radio" ng-model="markService" value="serSad" id="serSad" name="markService">
                        <label for="serSad">
                            <span class="check"><i class="circle-check" ng-class="{'uncheck': markService != 'serSad'}"></i></span>
                            <span class="text">不满意</span>
                        </label>
                    </div>
                    <div class="radio-inline fn-right">
                        <input type="radio" ng-model="markService" value="serNormal" id="serNormal" name="markService">
                        <label for="serNormal">
                            <span class="check"><i class="circle-check" ng-class="{'uncheck': markService != 'serNormal'}"></i></span>
                            <span class="text">一般</span>
                        </label>
                    </div>
                    <div class="radio-inline fn-right">
                        <input type="radio" ng-model="markService" value="serGood" id="serGood" name="markService">
                        <label for="serGood">
                            <span class="check"><i class="circle-check" ng-class="{'uncheck': markService != 'serGood'}"></i></span>
                            <span class="text">满意</span>
                        </label>
                    </div>
                </li>
                <li>
                    <span>平台服务：</span>
                    <div class="radio-inline fn-right">
                        <input type="radio" ng-model="markPlat" value="platSad" id="platSad" name="markPlat">
                        <label for="platSad">
                            <span class="check"><i class="circle-check" ng-class="{'uncheck': markPlat != 'platSad'}"></i></span>
                            <span class="text">不满意</span>
                        </label>
                    </div>
                    <div class="radio-inline fn-right">
                        <input type="radio" ng-model="markPlat" value="platNormal" id="platNormal" name="markPlat">
                        <label for="platNormal">
                            <span class="check"><i class="circle-check" ng-class="{'uncheck': markPlat != 'platNormal'}"></i></span>
                            <span class="text">一般</span>
                        </label>
                    </div>
                    <div class="radio-inline fn-right">
                        <input type="radio" ng-model="markPlat" value="platGood" id="platGood" name="markPlat">
                        <label for="platGood">
                            <span class="check"><i class="circle-check" ng-class="{'uncheck': markPlat != 'platGood'}"></i></span>
                            <span class="text">满意</span>
                        </label>
                    </div>
                </li>
            </ul>
            <ul class="marked" ng-if="isMarked">
                <li>
                    <p>医生态度</p>
                    <i class="iconfont icon-smile"></i>
                </li>
                <li>
                    <p>服务效率</p>
                    <i class="iconfont icon-normal"></i>
                </li>
                <li>
                    <p>平台服务</p>
                    <i class="iconfont icon-sad"></i>
                </li>
            </ul>
        </div>
        <div class="mark-text">
            <textarea  ng-if="!isMarked" placeholder="欢迎您将感想、建议或者意见告诉我们，我们会不断进步，让更多需要手术的朋友好看病，看好病！"></textarea>
            <p ng-if="isMarked">
                治疗方式：近视矫正手术
6.12白继教授亲自操刀手术，教授非常认真负责，术中耐心提示眼睛不能闭，现在眼睛恢...
            </p>
        </div>
    </div>
    <div ng-if="!isMarked" class="btn-dock fixed">
        <button class="btn btn-light" ng-click="commit()">提交</button>
    </div>
</div>