<div ng-controller="OrderDetailCtrl" class="order-detail-page">
    <div id="contentScroll" class="order-detail-group wrap">
        <div class="scroll">
            <div ng-if="orderStatusNum == 9" class="cell-group border-none">
                <div class="cell">
                    <div class="left-box">
                        <span class="label">当前订单已取消</span>
                    </div>
                    <div class="middle-box text-right">
                        <span class="s-content">
                            取消时间:
                            <span ng-bind="orderCancelTime"></span>
                        </span>
                    </div>
                </div>
            </div>
            <div ng-if="orderStatusNum != 9 && fakeNum != 8" class="order-status">
                <i class="now"><span>支付预约金</span></i>
                <line ng-class="{'now':orderStatusNum>1,'future':orderStatusNum<2}"></line>
                <i ng-class="{'now':orderStatusNum>1,'future':orderStatusNum<2}"><span>安排中</span></i>
                <line ng-class="{'now':orderStatusNum>4,'future':orderStatusNum<5}"></line>
                <i ng-class="{'now':orderStatusNum>4,'future':orderStatusNum<5}"><span>支付咨询费</span></i>
                <line ng-class="{'now':orderStatusNum>5,'future':orderStatusNum<6}"></line>
                <i ng-class="{'now':orderStatusNum>5,'future':orderStatusNum<6}"><span>待评价</span></i>
            </div>
            <div class="cell-group border-none">
                <div class="cell">
                    <div class="left-box">
                        <i class="iconfont icon-file"></i>
                    </div>
                    <div class="middle-box">
                        <p class="label">就诊信息</p>
                    </div>
                </div>
                <div class="cell">
                    <div class="left-box">
                        <span class="s-label">预约医生</span>
                    </div>
                    <div class="middle-box">
                        <span class="s-content">
                            <span ng-bind="orderDtName||'未填写'"></span>
                            (<span ng-bind="orderDeptName||'未填写'"></span>)
                            </span>
                    </div>
                </div>
                <div class="cell">
                    <div class="left-box">
                        <span class="s-label">所在医院</span>
                    </div>
                    <div class="middle-box">
                        <span class="s-content" ng-bind="orderHpName||'未填写'"></span>
                    </div>
                </div>
            </div>
            <div class="cell-group border-none">
                <div class="cell">
                    <div class="left-box">
                        <i class="iconfont icon-person"></i>
                    </div>
                    <div class="middle-box">
                        <p class="label">患者信息</p>
                    </div>
                </div>
                <div class="cell">
                    <div class="left-box">
                        <span class="s-label">患者姓名</span>
                    </div>
                    <div class="middle-box">
                        <span class="s-content">
                            <span ng-bind="patientName"></span>
                            (<span ng-bind="patientNum"></span>)
                        </span>
                    </div>
                </div>
                <div class="cell height-auto">
                    <div class="left-box">
                        <span class="s-label">疾病信息</span>
                    </div>
                    <div class="middle-box">
                        <span class="s-content mulit-line" ng-bind="orderDetail||'未填写'"></span>
                    </div>
                </div>
            </div>
            <!-- <div class="cell-group">
                <div class="cell">
                    <p class="label">影像资料</p>
                </div>
                <div class="img-cell">
                    <p class="order-detail-tips" ng-if="!orderFiles.lenght">(暂无)</p>
                    <div class="img-box" ng-if="orderFiles.lenght">
                        <div ng-repeat="img in orderFiles">
                            <img src="{img}">
                        </div>
                    </div>
                </div>
            </div> -->
            <div id="uploadImgBox"></div>

            <div class="cell-group border-none order-bottom-cell">
                <p class="order-detail-link" ng-click="">
                    订单编号：<span ng-bind="orderNum"></span>
                </p>
                <p ng-if="orderStatusNum > 1 || fakeNum == 8" class="order-detail-link" ng-click="">
                    已付手术预约金：
                    <span>1000元</span>
                    <span>2016-02-20</span>
                    <span>23:23:23</span>
                </p>
                <p ng-if="orderStatusNum == 8 || fakeNum == 8" class="order-detail-link" ng-click="">
                    已付平台咨询费：
                    <span>100元</span>
                    <span>2016-02-20</span>
                    <span>23:23:23</span>
                </p>
            </div>
        </div>
    </div>
    <div class="btn-dock" ng-if="orderStatusNum==1">
        <div class="order-account">
            <span>200</span>元
        </div>
        <button id="btnBooking" class="btn btn-light no-border-radius" ng-click="pay()">支付</button>
    </div>
</div>