<div ng-controller="OrdersCtrl" class="orders-page">
    <div ng-if="!orderList.length" class="no-file">
        <i class="iconfont icon-circle-file"></i>
        <p>您还没有提交过预约单</p>
    </div>
    <ul ng-if="orderList.length">
        <li ng-repeat="li in orderList" ng-click="goDetail(li.id)">
            <div>
                <!-- <p class="o-title">
                    <span class="o-label">预约单号：</span>
                    <span ng-bind="li.refNo"></span>
                    <button class="btn btn-aid o-aid" ng-class="{'o-aid-cancel':li.bkStatus == 9}" ng-bind="li.bkStatusText"></button>
                </p> -->
                <p>
                    <span class="o-label">疾病名称：</span>
                    <span ng-bind="li.doctorName||'未填'"></span>
                    <button class="btn btn-aid o-aid" ng-class="{'o-aid-cancel':li.bkStatus == 9}" ng-bind="li.bkStatusText"></button>
                </p>
                <p>
                    <span class="o-label">选择专家：</span>
                    <span ng-bind="li.hpName||'未填'"></span>
                </p>
                <p>
                    <span class="o-label">手术患者：</span>
                    <span ng-bind="li.contact_name"></span>
                </p>
            </div>
        </li>
    </ul>
</div>