<div ng-controller="OrderDetailCtrl" class="order-detail-page">
    <div class="order-detail-group">
        <div class="cell-group">
            <div class="cell">
                <div class="left-box">
                    <span class="label">当前状态</span>
                </div>
                <div class="middle-box text-right">
                    <span class="content" ng-bind="orderStatus" ng-class="{'order-detail-highlight': orderStatusNum==1}"></span>
                </div>
            </div>
        </div>
        <div class="cell-group">
            <div class="cell">
                <div class="left-box">
                    <span class="label">患者姓名</span>
                </div>
                <div class="middle-box text-right">
                    <span class="content" ng-bind="patientName"></span>
                </div>
            </div>
            <div class="cell">
                <div class="left-box">
                    <span class="label">联系方式</span>
                </div>
                <div class="middle-box text-right">
                    <span class="content" ng-bind="mobile"></span>
                </div>
            </div>
        </div>
        <div class="cell-group">
            <div class="cell">
                <div class="left-box">
                    <span class="label">就诊专家</span>
                </div>
                <div class="middle-box text-right">
                    <span class="content" ng-bind="orderDtName||'未填写'"></span>
                </div>
            </div>
            <div class="cell">
                <div class="left-box">
                    <span class="label">就诊医院</span>
                </div>
                <div class="middle-box text-right">
                    <span class="content" ng-bind="orderHpName||'未填写'"></span>
                </div>
            </div>
            <div class="cell">
                <div class="left-box">
                    <span class="label">就诊科室</span>
                </div>
                <div class="middle-box text-right">
                    <span class="content" ng-bind="orderDeptName||'未填写'"></span>
                </div>
            </div>
            <div class="cell">
                <div class="left-box">
                    <span class="label">疾病名称</span>
                </div>
                <div class="middle-box text-right">
                    <span class="content" ng-bind="orderDeseName"></span>
                </div>
            </div>
            <div class="cell">
                <div class="left-box">
                    <span class="label">疾病描述</span>
                </div>
                <div class="middle-box text-right">
                    <span class="content" ng-bind="orderDetail"></span>
                </div>
            </div>
        </div>
        <div class="cell-group">
            <div class="cell">
                <div class="left-box">
                    <span class="label">订单编号</span>
                </div>
                <div class="middle-box text-right">
                    <span class="content" ng-bind="orderNum"></span>
                </div>
            </div>
            <div class="cell">
                <div class="left-box">
                    <span class="label" ng-if="orderStatusNum!=1">已支付手术预约金</span>
                    <span class="label" ng-if="orderStatusNum==1">支付手术预约金</span>
                </div>
                <div class="middle-box text-right">
                    <span class="content" ng-class="{'order-detail-highlight': orderStatusNum==1}"><span ng-bind="orderAmount"></span>元</span>
                </div>
            </div>
        </div>
        <div class="cell-group">
            <div class="img-cell">
                <div class="label-box">影像资料</div>
                <p class="order-detail-tips" ng-if="!orderFiles.lenght">(暂无)</p>
                <div class="img-box" ng-if="orderFiles.lenght">
                    <div ng-repeat="img in orderFiles">
                        <img src="{img}">
                    </div>
                </div>
            </div>
        </div>
        <!-- <p class="order-detail-link" ng-click=""><span>查看订单详情</span></p> -->
    </div>
    <div class="btn-dock fixed">
        <button  ng-if="orderStatusNum==1" class="btn btn-warning" ng-click="pay()">支付订单</button>
    </div>
</div>