<div ng-controller="OrderCtrl" class="order-page">
    <div ng-if="!orderList" class="data-null-img"></div>
    <!-- <ul>
        <li>
            <div>
                <p class="o-title">
                    <span class="o-label">预约单号：</span>
                    <span>DR160923026645</span>
                    <button class="btn btn-aid o-aid">安排中</button>
                </p>
                <p>
                    <span class="o-label">就诊医生：</span>
                    <span>白继</span>
                </p>
                <p>
                    <span class="o-label">就诊医院：</span>
                    <span>第三军医大学附属大坪医院</span>
                </p>
                <p>
                    <span class="o-label">患者姓名：</span>
                    <span>志坤</span>
                </p>
            </div>
        </li>
    </ul> -->
</div>