<div ng-controller="ProblemsCtrl" class="problems-page">
    <div class="cell-group border-none">
        <div class="cell" ng-click="routerGo('layout.aboutLogin')">
            <div class="left-box">1.</div>
            <div class="middle-box">
                <span class="content">关于注册/登录</span>
            </div>
            <div class="right-box">
                <span class="arrow-right"></span>
            </div>
        </div>
        <div class="cell" ng-click="routerGo('layout.aboutBooking')">
            <div class="left-box">2.</div>
            <div class="middle-box">
                <span class="content">关于预约</span>
            </div>
            <div class="right-box">
                <span class="arrow-right"></span>
            </div>
        </div>
        <div class="cell" ng-click="routerGo('layout.aboutCost')">
            <div class="left-box">3.</div>
            <div class="middle-box">
                <span class="content">关于费用</span>
            </div>
            <div class="right-box">
                <span class="arrow-right"></span>
            </div>
        </div>
        <div class="cell" ng-click="routerGo('layout.aboutPlatform')">
            <div class="left-box">4.</div>
            <div class="middle-box">
                <span class="content">关于平台</span>
            </div>
            <div class="right-box">
                <span class="arrow-right"></span>
            </div>
        </div>
        <div class="cell" ng-click="routerGo('layout.aboutAgreement')">
            <div class="left-box">5.</div>
            <div class="middle-box">
                <span class="content">名医主刀服务协议</span>
            </div>
            <div class="right-box">
                <span class="arrow-right"></span>
            </div>
        </div>
    </div>
</div>