<div ng-controller="SettingCtrl" class="setting-page">
    <div class="cell-group border-none">
        <div class="cell" ng-click="routerGo('layout.feedback')">
            <div class="left-box">
            </div>
            <div class="middle-box">
                <span class="content">给名医主刀提建议</span>
            </div>
            <div class="right-box">
                <span class="arrow-right"></span>
            </div>
        </div>
    </div>

    <button class="btn btn-minor no-border-radius " ng-click="logout()">退出登录</button>
</div>