$btn-height: 44px;
$btn-disabled-bg: #d6d6d6;
$btn-disabled-color: rgba(0,0,0,.4);
.btn{
    display: block;
    width: 100%;
    height: px2rem($btn-height);
    line-height: px2rem($btn-height);
    border-radius: px2rem(6px);
    text-align: center;
    font-size: px2rem(map_get($map-font-size, m));
    border: none;
    background: none;
    padding: 0 px2rem(8px) 0 px2rem(8px);
    &.btn-small{
        height: px2rem($btn-height * 0.8);
        line-height: px2rem($btn-height * 0.8);
        font-size: px2rem(map_get($map-font-size, m)) * 0.8;
        &.in-cell{
            margin-top: px2rem($btn-height * 0.1 + 2px);
        }
    }
    &.btn-xsmall{
        height: px2rem($btn-height * 0.6);
        line-height: px2rem($btn-height * 0.6);
        font-size: px2rem(map_get($map-font-size, m)) * 0.6;
        &.in-cell{
            margin-top: px2rem($btn-height * 0.2);
        }
    }
}
.btn-primary{
    color: #ffffff;
    background: $color-primary;
    &:active,
    .active{
        background: darken($color-primary, 5%);
    }
    &:disabled,
    .disabled{
        background: $btn-disabled-bg;
        color: $btn-disabled-color;
    }
}
.btn-warning{
    color: #ffffff;
    background: $brand-warning;
    &:active,
    .active{
        background: darken($brand-warning, 5%);
    }
    &:disabled,
    .disabled{
        background: $btn-disabled-bg;
        color: $btn-disabled-color;
    }
}
.btn-danger{
    color: #ffffff;
    background: $brand-danger;
    &:active,
    .active{
        background: darken($brand-danger, 5%);
    }
    &:disabled,
    .disabled{
        background: $btn-disabled-bg;
        color: $btn-disabled-color;
    }
}
.btn-success{
    color: #ffffff;
    background: $brand-success;
    &:active,
    .active{
        background: darken($brand-success, 5%);
    }
    &:disabled,
    .disabled{
        background: $btn-disabled-bg;
        color: $btn-disabled-color;
    }
}
.btn-minor{
    color: #000000;
    background: #ffffff;
    border: 1px solid #dddddd;
    &:active,
    .active{
        background: #dddddd;
    }
    &:disabled,
    .disabled{
        background: $btn-disabled-bg;
        color: $btn-disabled-color;
    }
}
.btn-aid{
    height: px2rem(28px);
    line-height: px2rem(28px);
    border: 1px solid #00aaee;
    text-align: center;
    color: #00aaee;
    font-size: px2rem(map_get($map-font-size, s));
}
.btn-dock{
    width: 100%;
    padding: px2rem(5px) px2rem(10px) px2rem(5px) px2rem(10px);
    display: inline-block;
    .left-dock{
        width: 50%;
        padding-right: px2rem(5px);
        float: left;
    }
    .right-dock{
        width: 50%;
        padding-left: px2rem(5px);
        float: left;
    }
    &.fixed{
        position: fixed;
        bottom: 0;
        left: 0;
        z-index: 1;
    }
}