@media screen and (min-width: 320px) {
    html {
        font-size: 10px;
    }
}

@media screen and (min-width: 375px) {
    html {
        font-size: 12px;
    }
}

@media screen and (min-width: 414px) {
    html {
        font-size: 14px;
    }
}

@media screen and (min-width: 600px) {
    html {
        font-size: 16px;
    }
}
* {
    //font-family: "Helvetica Neue", Helvetica, STHeiTi, sans-serif;
    font-family: 'Microsoft YaHei',微软雅黑,'Microsoft Yahei',黑体,宋体,Arial,Simsun,Helvetica,sans-serif;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
body {
    width: 100%;
    overflow: hidden;
}

//some save text class
.fn-clear {
    clear: both;
}

.fn-left {
    float: left;
}

.fn-right {
    float: right;
}

.fn-show {
    display: block;
}

.fn-hide {
    display: none;
}

.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}
.container{
    padding: 0 px2rem(10px) 0 px2rem(10px);
}
