.upload-img{
    width: 100%;
    padding: px2rem(10px);
    float: left;
    background: #fff;
    .img-item{
        width: 45%;
        border: 1px solid $color-border-default;
        float: left;
        margin-left: 3.333%;
        margin-bottom: px2rem(10px);
        vertical-align: middle;
        overflow: hidden;
        position: relative;
        &:after{
            content: "";
            display: block;
            padding-bottom: 100%;
        }
        img{
            vertical-align: middle;
            min-width: 100%;
            max-width: 150%;
            min-height: 100%;
            max-height: 150%;
            object-fit: cover;
            object-position: center center;
            position: absolute;
            top: 0;
            left: 0;
        }
        .operate{
            width: 100%;
            height: px2rem(30px);
            background: rgba(0,0,0,.7);
            position: absolute;
            bottom: 0;
            left: 0;
        }
    }
    .clock-wise {
        display: block;
        position: relative;
        width: px2rem(30px);
        height: px2rem(30px);
        transform: rotate(45deg) scale(0.5);
        -webkit-transform: rotate(45deg) scale(0.5);
        -moz-transform: rotate(45deg) scale(0.5);
    }

    .clock-wise:before {
        content: '';
        height: 0;
        width: 0;
        display: block;
        border: px2rem(12px) transparent solid;
        border-right-width: 0;
        border-left-color: #fff;
        position: absolute;
        top: px2rem(-5px);
        right: 0px;
    }

    .clock-wise:after {
        content: '';
        height: 25px;
        width: 14px;
        display: block;
        border-top: px2rem(5px) #fff solid;
        border-left: px2rem(5px) #fff solid;
        border-radius: px2rem(20px) 0 0 0;
        -webkit-border-radius: px2rem(20px) 0 0 0;
        -moz-border-radius: px2rem(20px) 0 0 0;
        position: absolute;
        top: px2rem(5px);
        right: px2rem(10px);
    }
    .counter-clock-wise {
        display: block;
        position: relative;
        width: px2rem(30px);
        height: px2rem(30px);
        transform: rotate(-45deg) scale(0.5);
        -webkit-transform: rotate(-45deg) scale(0.5);
        -moz-transform: rotate(-45deg) scale(0.5);
    }

    .counter-clock-wise:before {
        content: '';
        height: 0;
        width: 0;
        display: block;
        border: px2rem(12px) transparent solid;
        border-left-width: 0;
        border-right-color: #fff;
        position: absolute;
        top: 0;
        left: 0px;
    }

    .counter-clock-wise:after {
        content: '';
        height: 25px;
        width: 14px;
        display: block;
        border-top: px2rem(5px) #fff solid;
        border-right: px2rem(5px) #fff solid;
        border-radius: 0 px2rem(20px) 0 0;
        -webkit-border-radius: 0 px2rem(20px) 0 0;
        -moz-border-radius: 0 px2rem(20px) 0 0;
        position: absolute;
        top: px2rem(10px);
        left: px2rem(10px);
    }
    .ct-rotate{
        height: 100%;
        float: left;
        width:px2rem(40px);
        display: none;
    }
    .size-tip{
        font-size:px2rem(map_get($map-font-size, s));
        color: #fff;
        line-height: px2rem(30px);
        float: left;
        padding-left: px2rem(4px);
    }
    .circle-close{
        width:px2rem(20px);
        height: px2rem(20px);
        float: right;
        margin-top: px2rem(5px);
        background: #f77;
    }
    .btn-remove{
        height: 100%;
        float: right;
        padding: 0 px2rem(10px) 0 px2rem(10px);
    }
    .title{
        height: px2rem(36px);
        line-height: px2rem(36px);
        font-size: px2rem(map_get($map-font-size, s));
        color: #333;
    }
    .add-icon{
        width: 45%;
        text-align: center;
        display: block;
        float:left;
        border: 1px solid $color-border-default;
        margin-left: 3.333%;
        margin-bottom: px2rem(10px);
        position: relative;
        .text{
            position: absolute;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            padding-top: px2rem(20px);
            p{
                color: #666;
            }
            .text-lg{
                font-size: px2rem(40px);
            }
            .text-sm{
                font-size: px2rem(20px);
            }
        }
        &:after{
            content: "";
            display: block;
            padding-bottom: 100%;
        }
    }
}
//the big image
.upload-detail-img{
    position: fixed;
    width:100%;
    height:100%;
    top: 0;
    left: 0;
    background: rgba(0,0,0,.8);
    overflow: auto;
}

.upload-toast{
    width: 100%;
    position: fixed;
    top: 45%;
    left: 0;
    .html-box{
        margin: 0 auto;
        background: rgba(0,0,0,.7);
        border-radius: px2rem(4px);
        td{
            font-size:px2rem(map_get($map-font-size, s));
            padding: px2rem(5px) px2rem(10px) px2rem(5px) px2rem(10px);
            color: #fff;
        }
    }
}